<template>
  <v-row class="ma-0 pa-0 flex-column flex-md-row" justify="space-between">
    <!-- links  -->
    <links class="mb-15 col-12 col-md-7" v-if="!shared" />
    <!-- img select -->
    <v-row
      class="ma-0 pa-0 col-12 col-md-5 mb-15 mb-md-0"
      v-if="isPano && !shared"
      justify="center"
    >
      <v-row class="ma-0 pa-0">
        <span class="text-h4 text-center"> Споты: </span>
      </v-row>
      <v-row v-for="image in images" :key="image.id" class="col-12 pa-0 ma-0">
        <v-switch
          v-model="spots[image.id]"
          :true-value="`add:${image.id}`"
          :false-value="`remove:${image.id}`"
          @change="select"
          :hide-details="true"
          class="ma-0 pa-0"
          :label="image.shortName"
          color="#05ca68"
          inset
        >
        </v-switch>
      </v-row>

      <v-spacer></v-spacer>
    </v-row>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'
import Links from '~/components/menu/editor-menu/links.vue'
import ImageSelect from '~/components/forms/inputs/image-select.vue'
import { Colors } from '~/store/Colors'
import spot, { ISpot } from '~/store/data/spot'
import { LatheGeometry } from '~/components/images/3d/three.module'

@Component({
  components: {
    Links,
    ImageSelect,
  },
})
export default class editorMenu extends Vue {
  @Prop()
  shared!: boolean
  get Colors() {
    const colors = Object.values(Colors).map(
      (color) => '#' + color.toString(16)
    )

    return colors
  }
  constructor() {
    super()
  }
  get loading() {
    return this.$store.getters['App/loading']
  }
  get existingSpots() {
    return this.$store.getters['data/spot/all']
  }

  spots: {} = {}

  @Prop()
  isPano!: boolean

  get images() {
    this.spots = {}
    const currentMedia =
      this.$store.getters['view/editor/pano/current']?.id || -1
    if (currentMedia === -1) return []
    const images = this.$store.getters[`view/editor/pano/images`].filter(
      (media) => media.id !== currentMedia
    )

    for (const image of images) {
      const spotsByImage = this.existingSpots.find(
        (spot) => spot.target.id === image.id && spot.source.id === currentMedia
      )
      if (!spotsByImage) continue
      this.spots[image.id] = `add:${image.id}`
    }
    return this.isPano ? images : []
  }

  @Emit('spotCreate')
  spotCreate() {
    return true
  }

  @Emit('spotDelete')
  spotDelete() {
    return true
  }

  async select(item: string) {
    const currentMedia = this.$store.getters['view/editor/pano/current']
    const instructions = item.split(':')
    const operation: 'add' | 'remove' = instructions[0] as any
    const id = parseInt(instructions[1])
    switch (operation) {
      case 'add':
        {
          this.spotCreate()
          const newSpot: ISpot = {
            x: 0,
            y: 0,
            z: -500,
            target: {
              id,
            },
            source: {
              id: currentMedia.id,
            },
          }
          await spot.create(this, newSpot)
          return this.spotCreate()
        }
        break
      case 'remove':
        await spot.deleteBySourceAndTarget(this, currentMedia.id, id)
        this.spotDelete()
        break
    }
  }
}
</script>


