<template>
  <v-row class="ma-0 pa-0" justify="center" justify-md="start">
    <v-tooltip
      activator="#link0"
      content-class="tip"
      min-width="217"
      max-width="217"
      class="pa-0 ma-0"
      top
    >
      <div class="ma-0 pa-0">{{ tooltipTextView }}</div>
    </v-tooltip>

    <v-tooltip
      activator="#link1"
      content-class="tip"
      min-width="217"
      max-width="217"
      class="pa-0 ma-0"
      top
    >
      <div class="ma-0 pa-0">{{ tooltipTextView }}</div>
    </v-tooltip>

    <v-card class="pa-0 mx-lg-2" flat elevation="0" width="320" max-width="320">
      <v-card-text
        class="pa-1"
        :style="{ backgroundColor: '#e8f7fb', borderRadius: '6px 6px 0 0' }"
        id="link0Title"
        >Редактировать:</v-card-text
      >
      <v-card-text
        class="font-weight-bold links mb-2 col-12"
        id="link0"
        @click.prevent="copyTextLink0"
        @mouseleave.prevent="restoreTooltip"
      >
        {{ link0 }}
      </v-card-text>
    </v-card>
    <v-card class="pa-0" flat elevation="0" width="320" max-width="320">
      <v-card-text
        class="pa-1"
        :style="{ backgroundColor: '#e8f7fb', borderRadius: '6px 6px 0 0' }"
        id="link1Title"
        >Поделиться:</v-card-text
      >
      <v-card-text
        class="font-weight-bold links mb-2 col-12"
        id="link1"
        @click.prevent="copyTextLink1"
        @mouseleave.prevent="restoreTooltip"
      >
        {{ link1 }}
      </v-card-text>
    </v-card>
  </v-row>
</template>



<script async lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({})
export default class Links extends Vue {
  tooltipText: string = 'нажмите для копирования в буфер обмена'
  tooltipTextView: string = this.tooltipText
  get link0() {
    const projectId = location.href.split('/').pop()
    if (!projectId) return ''

    const numProjectId = parseInt(projectId)
    const project = this.$store.getters['data/project/byId'](numProjectId)
    if (!project) return ''
    return location.href + '?project_name=' + project.name
  }
  get link1() {
    return this.link0.replace('editor', 'share')
  }
  copyTextLink0() {
    this.tooltipTextView = 'Скопировано!'

    navigator.clipboard.writeText(this.link0)
  }
  copyTextLink1() {
    this.tooltipTextView = 'Скопировано!'
    navigator.clipboard.writeText(this.link1)
  }
  restoreTooltip() {
    setTimeout(() => {
      this.tooltipTextView = this.tooltipText
    }, 200)
  }
}
</script>

<style scoped>
.links {
  white-space: nowrap;
  margin: 0;
  background: #f9f9f9;
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tip {
  font-size: 13px;
  text-align: center;

  line-height: 15px;
  font-weight: bold;
  color: black;
  background-color: #fff;
  outline: 1px solid;
  outline-color: #05ca68;
  overflow: hidden;
}
</style>
