<template>
  <div
    class="pa-0 ma-0"
    :style="{
      width: '100%',
      height: '100%',
    }"
    id="image3d"
    v-if="loaded"
  ></div>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Emit, Prop, Watch } from 'vue-property-decorator'
import { animate, mountFBXPlayer } from './3d/drawFBX'

@Component({})
export default class Model3D extends Vue {
  @Emit('loaded')
  loaded() {
    return true
  }

  cont = document.getElementById('image3d')
  @Prop()
  path!: string
  @Watch('path')
  async onPathChange() {
    try {
      console.log('onPathChange')

      if (this.cont && this.path) {
        const res = await mountFBXPlayer(this.cont, this.path)

        if (!res) throw new Error('Error mounting FBX player')
        this.loaded()
        animate()
      }
    } catch (e) {
      console.log(e)
    }
  }

  async mounted() {
    if (!this.cont) this.cont = document.getElementById('image3d')

    try {
      if (this.cont && this.path) {
        const res = await mountFBXPlayer(this.cont, this.path)
        if (!res) throw new Error('Error mounting FBX player')

        this.loaded()
        animate()
      }
    } catch (e) {
      console.log(e)
    }
  }
}
</script>
