
<template>
  <div
    :style="{
      width: '100%',
      height: '100%',
    }"
    id="pano-image"
    class="pa-0 ma-0"
  ></div>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'

export interface PanoramaProps {
  image: string
}

import * as PANOLENS from 'panolens'
@Component({
  components: {},
})
export default class PanoramaOnProps extends Vue {
  currentImage: string = ''
  renderPanorama() {
    if (!this.cont) this.cont = document.querySelector('#pano-image')

    if (!this.viewer) {
      this.viewer = new PANOLENS.Viewer({
        container: this.cont,
      })
    }

    if (this.currentImage === this.panorama.image) return
    this.currentImage = this.panorama.image
    this.pano = new PANOLENS.ImagePanorama(this.panorama.image)
    const context = this
    // context.$store.commit('App/loading', true)
    this.pano.addEventListener('load', async (event) => {
      context.load()
    })

    this.viewer.add(this.pano)
    this.viewer.setPanorama(this.pano)
  }

  constructor() {
    super()
  }

  mounted() {
    this.renderPanorama()
  }

  @Emit('load')
  load() {
    return true
  }

  cont: any
  viewer: any

  pano: any

  @Prop()
  panorama!: PanoramaProps

  @Watch('panorama')
  onPanoramaChange() {
    this.renderPanorama()
  }
}
</script>

