
<template>
  <v-container class="d-flex flex-column align-center">
    <!-- <v-btn
      :id="selector"
      width="160"
      height="38"
      class="btn-bg, btn-border white--text"
      :color="mainColor"
    >
      <span v-html="`${name}`"> </span>
    </v-btn>
    <span class="btn-tip text-center">{{ exts.join(' ') }}</span> -->
  </v-container>
</template>


<script async lang='ts'>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({})
export default class roundCrossButton extends Vue {
  // @Prop()
  // exts!: string
  // @Prop()
  // selector!: string
  // @Prop()
  // name!: string
  // get mainColor() {
  //   return this.$store.getters['dom/mainColor']
  // }
}
</script>

<style scoped>
.btn-tip {
  background-color: #e8f7fb;
  width: 160px;
  height: 24px;
  border-radius: 0.25rem;
  font-size: 10px;
  padding: 0.3rem;
}

.white {
  color: #fff;
}
</style>
