
<template>
  <v-card> </v-card>
</template>




<script async lang='ts'>
// <v-card width="500">
//   <v-container>
//     <v-row justify="end" class="my-2 mx-2">
//       <!-- cross btn -->
//       <round-cross-button @close="close" />
//     </v-row>
//     <v-row justify="center" class="text-center ma-0 mt-4">
//       <!-- name -->
//       <v-card-title class="font-weight-bold">
//         Введите название проекта
//       </v-card-title>
//     </v-row>
//     <v-row class="ma-0">
//       <v-text-field
//         v-model="nameOfProject"
//         :append-icon="nameIsValid ? '' : 'mdi-alert-circle-outline'"
//         :rules="nameRules"
//         color="#05ca68"
//         outlined
//         :error="!nameIsValid && afterClick ? true : false"
//         height="35"
//         placeholder="Имя проекта"
//       >
//         <!-- name input -->
//       </v-text-field>
//     </v-row>
//     <v-row class="ma-5 mt-0" justify="center">
//       <!-- logo -->
//       <v-btn
//         v-if="!imgSrc"
//         color="#05ca68"
//         width="160"
//         height="35"
//         class="white--text mt-0"
//         @click.prevent="showUploader"
//         >логотип</v-btn
//       >
//       <!-- img if logo -->
//       <v-img
//         v-if="imgSrc"
//         :src="imgSrc"
//         :style="{
//           width: '50%',
//           maxWidth: '200px',
//         }"
//         contain
//       >
//       </v-img>
//     </v-row>
//     <!-- file input  -->
//     <input
//       type="file"
//       class="d-none"
//       ref="uploader"
//       @change="onUpload"
//       :accept="'.jpg, .jpeg., .png'"
//     />

//     <v-row class="text-center ma-0" justify="center">
//       <!-- parent cite -->
//       <v-card-title class="font-weight-bold">
//         Ссылка на родительский сайт<br />
//         (по желанию)
//       </v-card-title>
//     </v-row>
//     <!-- parent site input -->
//     <v-row justify="center" class="ma-0">
//       <v-text-field
//         color="#05ca68"
//         outlined
//         height="35"
//         placeholder="https://мойсуперсайт.рф"
//         :append-icon="urlIsValid ? '' : 'mdi-alert-circle-outline'"
//         :rules="urlRules"
//         v-model="backLink"
//       >
//       </v-text-field>
//     </v-row>
//     <!-- button continue -->
//     <v-row justify="center">
//       <v-btn
//         color="#05ca68"
//         width="160"
//         height="35"
//         class="white--text mb-5"
//         @click.prevent="tryToClose"
//         >продолжить</v-btn
//       >
//     </v-row>
//   </v-container>
// </v-card>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit, Prop } from 'vue-property-decorator'
// import roundCrossButton from '../../roundCrossButton.vue'
@Component({
  // components: { roundCrossButton },
})
export default class dialogForm extends Vue {
  //   logoPath: string = ''
  //   constructor() {
  //     super()
  //   }
  //   @Emit('close')
  //   close() {
  //     setTimeout(() => {
  //       this.nameOfProject = ''
  //     }, 0)
  //     return true
  //   }
  //   @Emit('closeWithNext')
  //   async closeWithNext() {
  //     try {
  //       await this.$store.dispatch('project/addProjectName', {
  //         name: this.nameOfProject,
  //       })
  //       await this.$store.dispatch('project/prepareLogo', { file: this.logo[0] })
  //       await this.$store.dispatch('project/prepareBackLink', {
  //         backLink: this.backLink,
  //       })
  //       setTimeout(() => {
  //         this.nameOfProject = ''
  //       }, 0)
  //       return true
  //     } catch (e) {
  //       this.afterClick = true
  //       this.nameIsValid = false
  //       return false
  //     }
  //   }
  //   @Prop()
  //   exts!: string[]
  //   nameIsValid: boolean = true
  //   afterClick: boolean = false
  //   urlIsValid: boolean = true
  //   imgPath: string = ''
  //   logo: File[] = []
  //   imgSrc: string = ''
  //   backLink: string = ''
  //   nameOfProject: string = ''
  //   get extsAccess() {
  //     return this.exts.join(',')
  //   }
  //   showUploader(event: Event) {
  //     ;(this.$refs.uploader as any).click()
  //   }
  //   async onUpload(event: any) {
  //     const file = (this.$refs.uploader as any).files[0]
  //     this.logo.push(file)
  //     var urlCreator = window.URL || window.webkitURL
  //     var imageUrl = urlCreator.createObjectURL(file)
  //     this.imgSrc = imageUrl
  //   }
  //   showNameWarning() {
  //     this.nameIsValid = false
  //   }
  //   hideNameWarning() {
  //     this.nameIsValid = true
  //   }
  //   showUrlWarning() {
  //     this.urlIsValid = false
  //   }
  //   hideUrlWarning() {
  //     this.urlIsValid = true
  //   }
  //   saveImage(target: any) {
  //     this.imgPath = target.value
  //   }
  //   async tryToClose() {
  //     if (this.nameOfProject.length && this.nameIsValid && this.urlIsValid) {
  //       this.closeWithNext()
  //       return
  //     }
  //     if (!this.nameOfProject.length) {
  //       this.afterClick = true
  //       this.nameIsValid = false
  //     }
  //   }
  //   nameRules: any = [
  //     (v: any) => {
  //       const res = v && v.length > 0
  //       if (res) {
  //         this.hideNameWarning()
  //         return res
  //       }
  //       this.nameIsValid = false
  //       this.showNameWarning()
  //       return res || 'имя проекта не может быть пустым'
  //     },
  //   ]
  //   urlRules: any = [
  //     (v: any) => {
  //       if (v && v.length > 0) {
  //         const res = !!v.match(/.+\..+/)
  //         res ? this.hideUrlWarning() : this.showUrlWarning()
  //         return res || 'неправильный формат адреса'
  //       }
  //       this.hideUrlWarning()
  //       return true
  //     },
  //   ]
}
</script>

<style scoped>
</style>
