<template>
  <v-card class="mx-auto" min-width="300" max-width="300" outlined>
    <v-list-item three-line>
      <v-list-item-content>
        <div class="text-overline mb-4">Проект №{{ inx }}</div>
        <v-list-item-title class="text-h5 mb-1"> {{ name }} </v-list-item-title>
        <!-- <v-list-item-subtitle
          >Описание проекта отсутствует</v-list-item-subtitle
        > -->
      </v-list-item-content>

      <v-list-item-avatar tile size="80" color="white">
        <v-img :src="logo ? logo : require('~/assets/logo.png')" contain>
        </v-img>
      </v-list-item-avatar>
    </v-list-item>

    <v-card-actions class="justify-space-between">
      <v-btn outlined rounded text @click="goToeditor"> Перейти </v-btn>

      <v-btn outlined rounded text @click="deleteProject" color="#EF5350">
        Удалить
      </v-btn>
    </v-card-actions>
    <v-card-actions class="text-center justify-center">
      <v-switch v-model="isOpen" hide-details="true" class="ma-0" color="green">
        <template v-slot:label>
          <span class="caption">
            {{ isOpen ? 'Открытый проект' : 'Закрытый проект' }}
          </span>
        </template>
      </v-switch>
    </v-card-actions>
  </v-card>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'
import { getLogo, MountData } from '~/plugins/DataMounter'
import Project from '~/store/data/project'

@Component({})
export default class libraryCard extends Vue {
  @Prop()
  inx!: number

  @Prop()
  name!: string

  async GetLogoForCard() {
    const logo = await getLogo(this, parseInt(this.id))

    this.logo = logo
  }

  logo = ''

  async mounted() {
    await MountData(this)
    await this.GetLogoForCard()
    this.changeVisibility = this.project.public
  }

  @Prop()
  id!: string

  @Prop()
  type!: string

  goToeditor() {
    this.$router.push('/editor/' + this.type + '/' + this.id)
  }
  async deleteProject() {
    await Project.deleteProject(this, parseInt(this.id))
  }

  get project() {
    return Project.getProject(this, parseInt(this.id))
  }

  get isOpen() {
    return this.project.public
  }

  changeVisibility: boolean = false
  set isOpen(value: boolean) {
    this.changeVisibility = value
  }
  @Watch('changeVisibility')
  async changeVisibilityWatcher() {
    await Project.updatePublish(this, parseInt(this.id), this.changeVisibility)
  }
}
</script>


