<template>
  <v-row class="ma-0 pa-0" v-if="user">
    <v-row class="ma-0 pa-0 col-12 mb-15">
      <new-project-card />
    </v-row>
    <v-row class="ma-0 pa-0 col-12">
      <v-divider></v-divider>
    </v-row>
    <v-row
      class="ma-0 pa-0 col-12 col-md-6 col-lg-4"
      v-for="(project, i) in projects"
      :key="i"
    >
      <library-card
        :name="project.name"
        :id="project.id"
        :inx="i + 1"
        :type="project.type"
        class="my-5"
      />
    </v-row>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import libraryCard from './libraryCard.vue'
import NewProjectCard from './newProjectCard.vue'

@Component({
  components: { libraryCard, NewProjectCard },
})
export default class library extends Vue {
  get projects() {
    return this.$store.getters['data/project/allByOwnerId'](this.user.id)
  }

  get user() {
    return this.$store.getters['data/user/all'][0]
  }
}
</script>


