<template>
  <v-card class="mx-auto" max-width="344" outlined>
    <v-list-item three-line>
      <v-list-item-content>
        <div class="text-overline mb-4">Новый проект</div>
        <v-list-item-title class="text-h5 mb-1"> Новенькое </v-list-item-title>
        <v-list-item-subtitle>Тут будет описание проекта</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar tile size="80" color="white">
        <v-img contain class="p-2" :src="require('~/assets/logo.png')"> </v-img>
      </v-list-item-avatar>
    </v-list-item>

    <v-card-actions>
      <v-btn outlined rounded text to="/newProject"> Создать проект </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import ArvizioLogo from '~/components/arizio-logo.vue'

@Component({
  components: {
    ArvizioLogo,
  },
})
export default class libraryCard extends Vue {}
</script>


