


<template>
  <v-row> </v-row>
  <!-- dialog -->
</template>


<script async lang="ts">
// <v-dialog
//   class="rounded-xl overflow-hidden"
//   max-width="800"
//   :hide-overlay="true"
//   content-class="rounded-xl  gallery-dialog"
//   v-model="dialog"
// >
//   <v-container
//     class="pa-5 gallery-dialog"
//     :style="{ backgroundColor: 'white' }"
//   >
//     <v-row justify="end">
//       <!-- close btn -->
//       <round-cross-button @close="dialog = false" class="mr-5 mt-5" />
//     </v-row>
//     <v-row justify="center" class="mb-5">
//       <span class="text-h5">Выбрать изображения:</span>
//     </v-row>
//     <v-container class="d-flex align-center flex-column mb-5">
//       <!-- images names -->
//       <v-row
//         v-for="(img, inx) in gallery"
//         :key="inx"
//         justify="space-around"
//         align="center"
//         class="col-9 ma-0 pa-0 my-0"
//       >
//         <v-row class="pa-0 ma-0">{{ img.file.name }}</v-row>
//       </v-row>
//     </v-container>
//     <v-row>
//       <!-- description -->
//       <v-textarea
//         v-model="description"
//         clearable
//         clear-icon="mdi-close-circle"
//         label="description of gallery (optional)"
//         no-resize
//         color="#05ca68"
//         outlined
//         rows="3"
//         class="mx-10"
//       ></v-textarea>
//     </v-row>
//     <v-row justify="center" class="my-5">
//       <!-- add audio  -->
//       <v-btn
//         v-if="!audioFile"
//         large
//         color="#05ca68"
//         @click="openAudioLoader"
//         class="white--text"
//         width="190"
//       >
//         Добавить аудио(mp3)
//       </v-btn>
//       <span v-if="audioFile"> {{ audioFile.name }} </span>
//     </v-row>
//     <!-- continue  -->
//     <v-row justify="center" class="ma-5">
//       <v-btn
//         large
//         color="#05ca68"
//         @click="continueBtn"
//         class="white--text"
//         width="190"
//       >
//         Продолжить
//       </v-btn>
//     </v-row>
//     <!-- file loader -->
//     <file-loader
//       ref="loader"
//       :exts="'.mp3'"
//       :multy="false"
//       @uploaded="saveAudio"
//     />
//   </v-container>
//   <!-- loader -->
// </v-dialog>

import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit, Prop } from 'vue-property-decorator'
// import roundCrossButton from '../roundCrossButton.vue'
// import fileLoader from '../fileLoader.vue'
@Component({
  components: {
    //  roundCrossButton,
    // fileLoader
  },
})
export default class galleryDialog360 extends Vue {
  // selected: string[] = []
  // @Prop()
  // needRedirect!: boolean
  // @Emit('finish')
  // finish() {
  //   return true
  // }
  // get dialog() {
  //   return this.$store.getters['project/galleryDialog360Show']
  // }
  // set dialog(par: any) {
  //   this.$store.dispatch('project/galleryDialog360Hide')
  // }
  // get gallery() {
  //   const gal = this.$store.getters['project/gallery']
  //   return gal
  // }
  // async sendGallery() {
  //   // await this.$store.dispatch('project/select360', { is360: this.selected })
  //   // await this.$store.dispatch('project/loadGalary')
  //   this.dialog = false
  //   this.$router.push(
  //     `/gallery/${this.$store.getters['project/projectName']}?is360=true`
  //   )
  // }
  // get audioFile() {
  //   const isAudio = this.$store.getters['project/getAudio']
  //   return isAudio
  // }
  // get description() {
  //   return this.$store.getters['project/getDescription']
  // }
  // set description(descr: string) {
  //   this.$store.dispatch('project/setDescription', { description: descr })
  // }
  // openAudioLoader() {
  //   const ref = this.$refs.loader as any
  //   setTimeout(() => {
  //     ref.$refs.file.click()
  //   }, 0)
  // }
  // saveAudio(file: FileList) {
  //   this.$store.dispatch('project/setAudio', { audio: file.item(0) })
  // }
  // async continueBtn() {
  //   await this.$store.dispatch('project/load360Gallery')
  //   this.dialog = false
  //   if (this.needRedirect)
  //     this.$router.push(
  //       `/gallery/${this.$store.getters['project/projectName']}?is360=true`
  //     )
  //   this.finish()
  // }
}
</script>

