


<template>
  <v-row> </v-row>
</template>


<script async lang="ts">
// <!-- dialog -->
// <v-dialog
//   class="rounded-xl overflow-hidden"
//   max-width="800"
//   :hide-overlay="true"
//   content-class="rounded-xl gallery-dialog"
//   v-model="dialog"
// >
//   <v-container
//     class="pa-5 gallery-dialog"
//     :style="{ backgroundColor: 'white' }"
//   >
//     <v-row justify="end">
//       <round-cross-button @close="dialog = false" class="mr-5 mt-5" />
//     </v-row>
//     <v-row justify="center" class="mb-5">
//       <span class="text-h6"
//         >Выберите изображения для преобразования в 360 панораму:</span
//       >
//     </v-row>
//     <v-container class="d-flex align-center flex-column">
//       <v-row
//         v-for="(img, inx) in gallery"
//         :key="inx"
//         justify="space-around"
//         align="center"
//         class="col-9 ma-0 pa-0 my-5"
//       >
//         <v-checkbox
//           v-model="selected"
//           class="pa-0 ma-0"
//           :label="img.file.name"
//           :value="img.file.name"
//         ></v-checkbox>
//         <v-img
//           max-height="200"
//           max-width="200"
//           contain
//           :src="trumbUrl(img.file)"
//         >
//         </v-img>
//       </v-row>
//     </v-container>
//     <v-row justify="center">
//       <v-btn large color="#05ca68" @click="sendGallery" class="white--text">
//         Продолжить
//       </v-btn>
//     </v-row>
//   </v-container>
// </v-dialog>

import Vue from 'vue'
import Component from 'vue-class-component'
// import roundCrossButton from '../roundCrossButton.vue'
@Component({
  // components: { roundCrossButton }
})
export default class galleryDialog extends Vue {
  // selected: string[] = []
  // trumbUrl(file: File) {
  //   var urlCreator = window.URL || window.webkitURL
  //   var imageUrl = urlCreator.createObjectURL(file)
  //   return imageUrl
  // }
  // get dialog() {
  //   return this.$store.getters['project/galleryDialogShow']
  // }
  // set dialog(par: any) {
  //   this.$store.dispatch('project/galleryDialogHide')
  // }
  // get gallery() {
  //   return this.$store.getters['project/gallery']
  // }
  // async sendGallery() {
  //   await this.$store.dispatch('project/select360', { is360: this.selected })
  //   await this.$store.dispatch('project/loadGalary')
  //   this.dialog = false
  //   this.$router.push(
  //     `/gallery/${this.$store.getters['project/projectName']}?is360=false`
  //   )
  // }
}
</script>

