<template>
  <svg
    data-name="Слой 1"
    id="Слой_1"
    viewBox="0 0 96 96"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <style>
        .cls-1 {
          fill: #c71c1c;
        }

        .cls-2 {
          fill: #e82c30;
        }

        .cls-3 {
          fill: none;
          stroke: #fff;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 3px;
        }

        .cls-4 {
          fill: #fff;
        }
      </style>
    </defs>
    <title />
    <path
      class="cls-1"
      d="M92,48v.13A44,44,0,1,1,47.87,4H48c1.06,0,2.11,0,3.16.12a42.89,42.89,0,0,1,5.12.67,43.39,43.39,0,0,1,8.1,2.37A44.13,44.13,0,0,1,88.79,31.47a43.22,43.22,0,0,1,2.43,8.24h0a44,44,0,0,1,.67,5.17C92,45.92,92,47,92,48Z"
    />
    <path
      class="cls-2"
      d="M91,44.5v.12A39.53,39.53,0,1,1,51.38,5h.12c1,0,1.89,0,2.84.11a38.38,38.38,0,0,1,4.59.6,39.33,39.33,0,0,1,5.45,1.45A44.13,44.13,0,0,1,88.79,31.47a38.33,38.33,0,0,1,1.51,5.59h0a39.22,39.22,0,0,1,.6,4.64C91,42.63,91,43.57,91,44.5Z"
    />
    <path class="cls-3" d="M74.66,21.93a36.47,36.47,0,0,1,3,3.52" />
    <path class="cls-3" d="M58,12a38.11,38.11,0,0,1,11.78,5.76" />
    <path
      class="cls-4"
      d="M53.38,28.36C49.9,28.24,40,28.93,40,40.87c0,7.06,3.21,10.15,6.49,11.47L38.85,66.72a.52.52,0,0,0,.45.75l3.79,0a.53.53,0,0,0,.46-.28l7.28-14a15.52,15.52,0,0,0,2.42-.07v14a.51.51,0,0,0,.51.51H56.7a.51.51,0,0,0,.51-.51V28.87a.51.51,0,0,0-.51-.51ZM44.25,41.05c0-10.15,7.2-9.7,9-9.43V49.86C50.18,50.17,44.25,49.65,44.25,41.05Z"
    />
  </svg>
</template>
