<template>
  <v-row class="ma-0 pa-0 flex-column">
    <v-row class="ma-0 pa-0" v-for="(type, inx) in types" :key="inx">
      <project-types
        :type="type"
        @selectedType="selectType"
        :disabled="disabled"
      />
    </v-row>
  </v-row>
</template>


<script async lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { DialogMode } from '~/plugins/interfaces'
import { ProjectType } from '~/store/data/project'
import projectView from '~/store/view/project'

import { CentralMenuItemType } from './interfaces'
import ProjectTypes from './projectTypes.vue'

@Component({
  components: {
    ProjectTypes,
  },
})
export default class CentralMenu extends Vue {
  constructor() {
    super()
    if (!this.user) {
      this.$store.dispatch('view/alert/setAlert', {
        type: 'error',
        message: 'Необходимо авторизоваться',
      })
      this.$router.push({
        name: '/',
      })
    }
  }

  get disabled() {
    return this.$store.getters['view/dialogopen']
  }

  get user() {
    return this.$store.getters['data/user/all'][0]
  }

  get types() {
    return [
      CentralMenuItemType.gallery,
      CentralMenuItemType.x360,
      CentralMenuItemType.model3d,
      CentralMenuItemType.pseudo3d,
    ]
  }

  selectType(type: CentralMenuItemType) {
    switch (type) {
      case CentralMenuItemType.model3d: {
        projectView.setProjectType(this, ProjectType.dem3)
        break
      }
      case CentralMenuItemType.x360: {
        projectView.setProjectType(this, ProjectType.pano)
        break
      }
      case CentralMenuItemType.gallery: {
        projectView.setProjectType(this, ProjectType.gallery)
        break
      }
      case CentralMenuItemType.pseudo3d: {
        projectView.setProjectType(this, ProjectType.pseudo3d)
        break
      }
    }
    this.$store.dispatch('view/dialog/open', DialogMode.createProject)
  }
}
</script>

<style lang="sass" scoped>
.white
  color: #fff !important

.btn-bg
  background-color: $main-color !important

.btn-border
  border-color: $main-color !important

.text-white
  color: #fff

.btn-tip
  background-color: #e8f7fb
  width: 160px
  border-radius: 0.25rem
  font-size: 10px
  padding: 0.3rem
</style>
