<template>
  <v-row class="ma-0 pa-0 my-10 flex-column" justify="center" align="center">
    <v-btn
      large
      :loading="loading ? true : false"
      color="#05ca68"
      class="white--text"
      width="100%"
      @click="checkSelect"
      :disabled="disabled || isNotReady ? true : false"
      >{{ label }}
    </v-btn>
    <span
      class="text-center text-caption rounded-lg py-2 px-3"
      :style="{
        marginTop: '0',
        width: '100%',
        backgroundColor: '#e8f7fb',
      }"
    >
      {{ extensions }}
    </span>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import {
  CentralMenuItemLabel,
  CentralMenuItemFileExt,
  CentralMenuItemType,
} from './interfaces'

@Component({})
export default class ProjectTypes extends Vue {
  @Prop()
  type!: string

  @Prop()
  disabled!: boolean

  checkSelect() {
    // drop state

    this.selectedType()
  }

  notReadyOptions: string[] = []

  get isNotReady() {
    return this.notReadyOptions.includes(this.type)
  }

  @Emit('selectedType')
  selectedType() {
    return this.type
  }

  get label() {
    const keys = Object.keys(CentralMenuItemLabel)
    const values = Object.values(CentralMenuItemLabel)

    const inx = keys.indexOf(this.type)
    if (inx === -1) {
      return ''
    }
    return values[inx]
  }

  get extensions() {
    const keys = Object.keys(CentralMenuItemFileExt)
    const values = Object.values(CentralMenuItemFileExt)

    const inx = keys.indexOf(this.type)
    if (inx === -1) {
      return ''
    }
    return values[inx]
  }

  get loading() {
    return this.$store.getters['App/loading']
  }
}
</script>


