


<template>
  <v-row> </v-row>
</template>


<script async lang="ts">
// <v-row justify="center">
//     <!-- dialog -->
//     <v-dialog
//       :activator="`#${selector}`"
//       class="rounded-xl overflow-hidden"
//       max-width="500"
//       :hide-overlay="true"
//       content-class="rounded-xl central-dialog"
//       v-model="dialog"
//     >
//       <!-- form -->
//       <dialog-form :exts="exts" @close="close()" @closeWithNext="handleNext" />
//     </v-dialog>
//     <!-- button -->
//     <activator-button :exts="exts" :name="name" :selector="selector" />
//   </v-row>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit, Prop } from 'vue-property-decorator'
// import activatorButton from './fileDialogComponents/activatorButton.vue'
// import dialogForm from './fileDialogComponents/dialogForm.vue'

@Component({
  // components: { activatorButton, dialogForm }
})
export default class fileDialog extends Vue {
  // dialog: boolean = false
  // @Prop()
  // exts!: string[]
  // @Prop()
  // endpoint!: string
  // @Prop()
  // selector!: string
  // @Prop()
  // name!: string
  // close() {
  //   this.dialog = false
  // }
  // handleNext(res: boolean) {
  //   if (res) this.closedSelector()
  // }
  // @Emit('closedSelector')
  // closedSelector() {
  //   this.close()
  //   return this.selector
  // }
}
</script>




<style lang="sass"  scoped>
.btn-bg
  background-color: $main-color !important

.btn-border
  border-color: $main-color !important

.text-white
  color: #fff

.btn-tip
  background-color: #e8f7fb
  width: 160px
  height: 24px
  border-radius: 0.25rem
  font-size: 10px
  padding: 0.3rem

.card
  border-radius: 20px !important

.form
  width: 100%
  height: 100%
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  line-height: 1.5

.text
  outline: $main-color !important

.text-white
  color: white

.close
  justify-content: end
</style>
