<template >
  <v-row class="ma-0 pa-0 gallery col-12">
    <template-model-3-d :project="projectId" class="col-12" />
  </v-row>
</template>

<script async async lang="ts" >
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import TemplateModel3D from '~/templates/template-model3d.vue'
@Component({
  layout: 'editor',
  components: {
    TemplateModel3D,
  },
  middleware: 'auth',
})
export default class Model3dPage extends Vue {
  constructor() {
    super()
  }
  get projectId() {
    return this.$route.params.id
  }
}
</script>
