


<template>
  <v-row
    class="ma-0 pa-0 pseudo-player"
    :style="{
      maxWidth: '100%',
    }"
  >
    <v-img
      id="pseudoImage"
      :src="currentImage"
      @load="imageLoaded = true"
      @mousedown.prevent.stop="mouseDown"
      @touchstart.prevent.stop="mouseDown"
      @mouseup.prevent.stop="mouseUp"
      @touchend.prevent.stop="mouseUp"
      @mousemove.prevent.stop="mouseMove"
      @touchmove.prevent.stop="mouseMove"
      max-height="600"
      min-height="600"
      contain
      class="pseudo-image"
      :style="{
        maxWidth: imageLoaded ? '100%' : '0%',
        cursor: cursor,
      }"
    >
    </v-img>
    <!-- skeleton -->
    <v-skeleton-loader
      class="skeleton"
      min-height="600px"
      color="grey lighten-4"
      type="image"
      width="100%"
      v-if="!imageLoaded"
    ></v-skeleton-loader>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { applyPseudo3D } from '~/components/dialogs/specific/editPseudo3DialogElements/applyPseudo3D'
import { MediaId } from '~/plugins/ProjectBuilder'
import gallery from '~/store/view/editor/gallery'

@Component({})
export default class Pseudo3DPlayer extends Vue {
  constructor() {
    super()
    document.addEventListener('mouseup', this.mouseUp)
  }
  images: {
    key: string
    images: any[]
  }[] = []
  imageLoaded = false
  down = false
  pixelStep = 10
  cursorStart = {
    x: 0,
    y: 0,
  }
  cursorEnd = {
    x: 0,
    y: 0,
  }

  mouseDown(e: MouseEvent) {
    this.down = true
  }

  mouseMove(e: MouseEvent | TouchEvent) {
    if (!this.down) return

    const x = e instanceof MouseEvent ? e.clientX : e.touches[0].clientX
    const y = e instanceof MouseEvent ? e.clientY : e.touches[0].clientY
    if (this.cursorStart.x === 0 && this.cursorStart.y === 0) {
      this.cursorStart.x = x
      this.cursorStart.y = y
    }

    this.cursorEnd.x = x
    this.cursorEnd.y = y

    const xDiff = this.cursorEnd.x - this.cursorStart.x
    const yDiff = this.cursorEnd.y - this.cursorStart.y

    if (xDiff > this.pixelStep) {
      this.nextCol()
      this.cursorStart = {
        x: 0,
        y: 0,
      }
      return
    }
    if (xDiff < -this.pixelStep) {
      this.prevCol()
      this.cursorStart = {
        x: 0,
        y: 0,
      }
      return
    }
    if (yDiff > this.pixelStep) {
      this.nextLine()
      this.cursorStart = {
        x: 0,
        y: 0,
      }
      return
    }
    if (yDiff < -this.pixelStep) {
      this.prevLine()
      this.cursorStart = {
        x: 0,
        y: 0,
      }
      return
    }
  }
  mouseUp(e: MouseEvent) {
    this.down = false
  }
  currentLine = 0
  currentCol = 0

  get currentImage() {
    if (this.images.length && this.images[this.currentLine].images.length) {
      let image = this.images[this.currentLine].images[this.currentCol]
      while (!image && this.currentCol >= 0) {
        this.currentCol--
        image = this.images[this.currentLine].images[this.currentCol]
      }

      return image.src
    }
    return ''
  }

  nextCol() {
    if (this.currentCol < this.images[this.currentLine].images.length - 1) {
      this.currentCol++
    }
  }

  prevCol() {
    if (this.currentCol > 0) {
      this.currentCol--
    }
  }

  nextLine() {
    if (this.currentLine < this.images.length - 1) {
      this.currentLine++
    }
  }

  prevLine() {
    if (this.currentLine > 0) {
      this.currentLine--
    }
  }

  get cursor() {
    return this.images.length > 1 ? 'move' : 'ew-resize'
  }

  @Prop({ required: true })
  mediaId!: MediaId

  @Watch('mediaId')
  async onMediaIdChange() {
    await this.remount()
  }

  get needToRemount() {
    return this.$store.getters['view/editor/gallery/needToRemountPseudo3d']
  }

  @Watch('needToRemount')
  async remount() {
    this.images = []
    this.currentCol = 0
    this.currentLine = 0
    if (this.media && this.images)
      await applyPseudo3D(this, this.media, this.images, [])

    gallery.setNeedToRemountPseudo3d(this, false)
  }

  get media() {
    return this.$store.getters['data/media/byId'](this.mediaId)
  }

  async mounted() {
    await this.remount()
  }
}
</script>


<style >
.pseudo-player .v-image__image {
  transition: all 200ms ease-in-out;
}
</style>

