<template>
  <v-row class="ma-0 pa-0">
    <v-img :src="image" class="align-end justify-center" max-height="600">
      <v-row class="pa-0 ma-0" justify="center">
        <span class="pa-0 text-h5 white--text mb-5">
          {{ title }}
        </span>
      </v-row>
      <v-row class="ma-0 pa-0 mb-5" justify="center">
        <audio
          :src="src"
          controls
          crossorigin="use-credentials"
          autoplay
          :style="{ width: '50%' }"
        ></audio>
      </v-row>
    </v-img>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'

export interface AudioPlayerProp {
  src: string
  name: string
  image: string
  id: number
}

@Component({})
export default class AudioPlayer extends Vue {
  @Watch('audioData')
  onAudioDataChanged(val: any, oldVal: any) {}
  @Prop()
  audioData!: AudioPlayerProp

  get image() {
    return this.audioData.image ?? require('@/assets/media-types/audio.jpeg')
  }

  get title() {
    return this.audioData.name ?? 'Аудио'
  }

  get src() {
    return this.audioData.src
  }
}
</script>


