

<template>
  <v-row v-if="!notInRow" justify="center" class="ma-0 pa-0">
    <v-img
      :src="logoPath"
      :width="logoWidth ? logoWidth : 315"
      :height="logoHeight ? logoHeight : 235"
      contain
      class="pa-0"
    >
    </v-img>
  </v-row>
  <v-img
    v-else
    :src="logoPath"
    :width="logoWidth ? logoWidth : 315"
    :height="logoHeight ? logoHeight : 235"
    contain
    class="pa-0"
  >
  </v-img>
</template>


<script async lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({})
export default class Logo extends Vue {
  logoPath: string = require('../assets/logo_arvizio.png')
  logoLoad: boolean = false

  @Prop()
  logoWidth!: number

  @Prop()
  logoHeight!: number

  @Prop()
  notInRow!: boolean
}
</script>
