<template>
  <v-app-bar
    dark
    top
    tag="header"
    color="#333"
    elevation="8"
    height="auto"
    min-height="56"
    width="100%"
    class="col-12"
  >
    <v-container class="pa-0 d-flex flex-column flex-sm-row align-center">
      <!-- logo -->
      <v-toolbar-title class="font-weight-bold">
        <v-btn
          nuxt
          link
          text
          :ripple="false"
          plain
          to="/"
          class="font-weight-bold text-h5 green-text pa-0"
          active-class="true"
          min-height="56"
          @click="toDefaultIndexPage"
        >
          <arizio-logo :logoWidth="150" :logoHeight="160" />
        </v-btn>
        <v-btn
          nuxt
          link
          text
          :ripple="false"
          plain
          href="https://moscow.refutur.com/ru/"
          class="font-weight-bold text-h5 green-text pa-0"
          active-class="true"
          min-height="56"
          @click="toDefaultIndexPage"
        >
          <retro-logo :logoWidth="150" :logoHeight="160" />
        </v-btn>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <div
        class="
          col-3
          pa-0
          ma-0
          d-flex
          flex-column flex-sm-row
          justify-sm-end justify-center
          align-center
        "
        v-if="user"
      >
        <!-- username with option -->
        <v-btn text>
          {{ user.email }}
        </v-btn>
        <!-- avatar -->
        <v-avatar>
          <img
            :src="user.avatar ? user.avatar : require('../assets/ava.png')"
            alt="You"
          />
        </v-avatar>
        <!-- logout -->
        <v-btn
          color="white"
          text
          :loading="loading ? true : false"
          @click="logout"
        >
          Выход
        </v-btn>
      </div>

      <v-row
        class="ma-0 pa-0 flex-column flex-sm-row"
        v-if="!user"
        justify="end"
      >
        <v-btn
          outlined
          class="mr-2"
          @click="signInDialog"
          :disabled="disable ? true : false"
          :loading="loading ? true : false"
        >
          Вход
        </v-btn>
        <v-btn
          outlined
          class="mr-2"
          @click="signUpDialog"
          :disabled="disable ? true : false"
          :loading="loading ? true : false"
        >
          Регистрация
        </v-btn>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script async lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { DialogMode } from '~/plugins/interfaces'
import { AlertType } from './alerts/interface'
// import { indexChoise } from '~/store/interfaces'
import UserStore from '~/store/data/user'
import ArvizioLogo from './arizio-logo.vue'
import RetroLogo from './retro-logo.vue'

@Component({
  components: {
    ArvizioLogo,
    RetroLogo,
  },
})
export default class Navbar extends Vue {
  async $fetch() {
    await UserStore.mount(this)
  }

  constructor() {
    super()
    this.$fetch()
  }
  async logout() {
    await this.$store.dispatch('App/startLoading')

    const res = await this.$store.dispatch('data/user/logout')

    this.$store.dispatch('view/alert/setAlert', {
      type: res ? AlertType.success : AlertType.error,
      message: res ? 'Вы успешно вышли из системы' : 'Ошибка выхода',
      timeout: 3000,
    })

    await this.$store.dispatch('App/stopLoading')

    if (res) this.$router.push({ name: 'index' })
  }

  get loading() {
    return this.$store.getters['App/loading']
  }

  get user() {
    return this.$store.getters['data/user/all'][0]
  }

  get avatar() {
    const avatar = this.$store.getters['data/user/all']
    return avatar ? avatar : require('../assets/ava.png')
  }

  toDefaultIndexPage() {
    // this.$store.dispatch('indexPage/choise', indexChoise.default)
  }

  get disable() {
    return this.$store.getters['view/dialog/open']
  }
  signInDialog() {
    this.$store.dispatch('view/dialog/open', DialogMode.signIn)
  }
  signUpDialog() {
    this.$store.dispatch('view/dialog/open', DialogMode.signUp)
  }
}
</script>

