<template>
  <v-container class="ma-0 pa-0">
    <div class="ma-0 pa-0 mt-5">
      <v-divider></v-divider>
      <v-row class="ma-0 pa-0 mt-12" justify="center" align="center">
        <span class="text-h6 px-5"> Продолжить через: </span>

        <v-row class="pa-0 ma-0 brdr rounded-xl justify-space-around">
          <v-btn
            x-large
            icon
            :disabled="loading ? true : false"
            @click="google"
          >
            <!-- google -->
            <v-icon x-large> $google </v-icon>
          </v-btn>
          <!-- vk -->
          <v-btn x-large icon :disabled="loading ? true : false" @click="vk">
            <v-icon x-large> $vk </v-icon>
          </v-btn>
          <v-btn
            @click="yandex"
            x-large
            icon
            :disabled="loading ? true : false"
          >
            <v-icon x-large> $yandex </v-icon>
            <!-- yandex -->
          </v-btn>
        </v-row>
      </v-row>
    </div>
  </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'

@Component({})
export default class Social extends Vue {
  get loading() {
    return this.$store.getters['auth/loading']
  }

  async vk() {
    location.href = `${this.$config.backend}/session/auth/vk`
  }

  async google() {
    location.href = `${this.$config.backend}/session/auth/go`
  }

  async yandex() {
    location.href = `${this.$config.backend}/session/auth/ya`
  }

  async mail() {
    location.href = `${this.$config.backend}/auth/mail`
  }
}
</script>

<style scoped>
.brdr {
  border: 1px solid #ccc;
}
</style>


