
<template>
  <v-row
    class="pseudo ma-0 pa-5 flex-column col-3"
    :style="{
      maxHeight: `${height} !important`,
      minHeight: `${height} !important`,
      maxWidth: `${width} !important`,
      minWidth: `${width} !important`,
      cursor: 'pointer',
    }"
  >
    <v-img
      :min-height="height"
      :max-height="height"
      max-width="100%"
      min-width="100%"
      :src="src"
      contain
      class="text-center pseudo-image"
      :style="{
        backgroundColor: '#fff',
      }"
    >
    </v-img>
    <span
      class="white--text text-center"
      :style="{
        backgroundColor: '#000',
        maxHeight: height,
        minHeight: height,
        maxWidth: width,
        minWidth: width,
        width: '100%',
      }"
    >
      {{ trimName }}
    </span>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import draggable from 'vuedraggable'
import { trimFileName } from '~/plugins/trimFileName'
@Component({})
export default class EditPseudo3dImage extends Vue {
  @Prop()
  src!: string
  @Prop()
  name!: string

  get trimName() {
    return trimFileName(this.name, this.name.split('.').pop() || '')
  }
  width = 200
  height = 150
}
</script>


<style>
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pseudo .v-image__image {
  animation: fadeIn 1s;
}
</style>


