
<template>
  <v-footer
    padless
    fixed
    class="pa-0 d-flex flex-column"
    min-width="320"
    color="transparent"
  >
    <v-row
      class="pa-0 ma-0 d-flex flex-column"
      :style="{ width: '100%' }"
      justify="center"
    >
      <!-- navigation btn -->
      <v-btn
        color="#383838"
        class="white--text pa-0 nav-btn"
        :ripple="false"
        :style="{
          border: 'none',
          boxShadow: 'none',
          alignSelf: 'center',
          backgroundColor: '#383838',
        }"
        width="170"
        text
        plain
        large
        @click.prevent="navOpen = !navOpen"
        >navigation
        <v-icon> {{ navOpen ? 'mdi-arrow-down' : 'mdi-arrow-up' }} </v-icon>
      </v-btn>
      <v-row
        class="ma-0 pt-2"
        :style="{ backgroundColor: '#383838', border: 'none', width: '100%' }"
      ></v-row>
    </v-row>
    <!-- open -->
    <v-row
      v-if="navOpen"
      class="ma-0 pa-2 overflow-x-auto flex-nowrap"
      justify="start"
      :style="{
        backgroundColor: '#383838',
        border: 'none',
        minHeight: '150px',
        width: '100%',
      }"
    >
      <div
        v-for="(name, inx) in imageNames"
        :key="inx"
        :style="{
          height: '150px',
          width: '200px',
        }"
        class="d-flex flex-column ma-0 pa-0 mx-2"
      >
        <nav-image
          :name="name"
          :url="buffers[inx]"
          :inx="inx"
          @click="selectImg"
          :type="project.type"
          @deleteImage="deleteImage"
        />
        <v-spacer></v-spacer>
        <!-- name -->
        <v-row
          class="white--text pa-0 pl-2 ma-0"
          :style="{
            backgroundColor: 'black',
            overflow: 'hidden',
            lineHeight: '20px',
            fontSize: '12px',
            height: '22px',
            maxHeight: '22px',
          }"
        >
          {{ name }}
        </v-row>
      </div>
      <v-col class="transparent pa-0 ma-0 d-flex align-center" v-if="!shared">
        <file-input
          class="ml-5"
          :isBtn="true"
          :searchClass="'nav-btn-add-img'"
          :accept="extensions"
          :multiple="isGallery || is3dModel"
          :disabled="loading"
          @files="onLoad"
        />
      </v-col>
    </v-row>
  </v-footer>
</template>

<script async lang="ts">
import FileInput from '@/components/forms/inputs/file-input.vue'
import NavImage from '@/components/navigation/navImage.vue'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit, Prop } from 'vue-property-decorator'
import { MountData } from '~/plugins/DataMounter'
import ProjectBuilder, { MediaId } from '~/plugins/ProjectBuilder'
import { MediaType } from '~/store/data/media'
import { ProjectType } from '~/store/data/project'
import panoEditor from '~/store/view/editor/pano'
import dem3Editor from '~/store/view/editor/3d'
import NewProjectDialog from '../dialogs/specific/newProjectDialog.vue'
import { setAlert } from '~/store/view/alert'
import { AlertType } from '../alerts/interface'
import { trimFileName } from '~/plugins/trimFileName'

@Component({
  components: { NavImage, FileInput },
})
export default class BottomNavigation extends Vue {
  navOpen: boolean = false
  editor: any
  editorType: string = ''
  project: any = ''

  @Prop()
  shared!: boolean

  async mounted() {
    await MountData(this)
    const projectId = this.$route.params.id
    this.project = this.$store.getters['data/project/all'].filter(
      (p: any) => p.id === parseInt(projectId)
    )[0]

    switch (this.project.type) {
      case ProjectType.pano:
        this.editor = panoEditor
        this.editorType = 'pano'
        break
      case ProjectType.dem3:
        this.editor = dem3Editor
        this.editorType = '3d'
        break
    }
  }

  get buffers(): Buffer[] {
    return this.$store.getters[`view/editor/${this.editorType}/images`]
      .filter((image: any) => image.type !== 'trumb')
      .map((img: any) => img.path)
  }

  get imageNames(): string[] {
    return this.$store.getters[`view/editor/${this.editorType}/images`]
      .filter((image: any) => image.type !== 'trumb')
      .map((img: any) => {
        const ext = img.name.split('.').pop()
        return trimFileName(img.name, ext)
      })
  }

  get isGallery() {
    return this.project.type === ProjectType.gallery
  }

  get isPano() {
    return this.project.type === ProjectType.pano
  }

  get is3dModel() {
    return this.project.type === ProjectType.dem3
  }

  get extensions() {
    if (this.isGallery) {
      return 'image/*'
    }
    if (this.isPano) {
      return 'image/*'
    }
    if (this.is3dModel) {
      return ['.jpg', '.jpeg', '.png', '.gif', '.webp', '.tiff', '.bmp', '.fbx']
    }
  }

  get loading() {
    return this.$store.getters['App/loading']
  }

  @Emit('onupload')
  onUplopload() {
    return true
  }

  private async create3d(
    fbxFile: File,
    restOfFiles: File[],
    projectId: number
  ) {
    const firstFile = fbxFile
    console.log({
      firstFile,
    })

    if (!firstFile) return
    const parent = (await ProjectBuilder.createMediaFromFile(
      this,
      {
        files: firstFile,
        mediaType: MediaType.model3d,
        mediaName: '3d model',
        mediaDescription: '3d model',
        filesType: 'model3d',
      },
      projectId
    )) as MediaId
    if (!parent) return
    if (!restOfFiles.length) return true
    await ProjectBuilder.handleMedia(
      this,
      {
        files: restOfFiles,
        mediaType: MediaType.model3d,
        mediaName: 'part of 3d model',
        mediaDescription: 'image of 3d model',
        filesType: 'image',
      },
      projectId,
      parent
    )

    return true
  }

  async onLoad(files: File[]) {
    this.$store.dispatch('App/startLoading')
    const mediaType = this.isGallery
      ? MediaType.image
      : this.isPano
      ? MediaType.panorama
      : MediaType.image

    if (this.is3dModel && !NewProjectDialog.checkModel3d(files)) {
      setAlert(this, {
        message: 'Требуется загрузить не более 1 файла формата .fbx',
        type: AlertType.error,
        timeout: 3000,
      })

      this.$store.dispatch('App/stopLoading')
      return
    }

    const toUpload = Array.isArray(files) ? files : [files]
    const images = toUpload.filter(
      (f) => !f.name?.toLowerCase().endsWith('.fbx')
    )

    let res
    if (this.is3dModel) {
      const fbx = toUpload.filter((f) => f.name?.toLowerCase().endsWith('.fbx'))
      const nonFbx = toUpload.filter(
        (f) => !f.name?.toLowerCase().endsWith('.fbx')
      )
      res = await this.create3d(fbx[0], nonFbx, this.project.id)
    }
    if (!this.is3dModel) {
      res = await ProjectBuilder.handleMedia(
        this,
        {
          mediaName: 'uploaded by user',
          mediaType,
          mediaDescription: '',
          files: images,
          filesType: 'image',
        },
        this.project.id
      )
    }

    if (res) {
      this.editor.setInx(this, this.buffers.length - 1)

      this.$store.dispatch('App/stopLoading')
      this.$store.dispatch('view/alert/setAlert', {
        type: 'success',
        message: 'Загрузка прошла успешно',
      })
      this.onUplopload()
    }
    if (!res) {
      this.$store.dispatch('App/stopLoading')
      this.$store.dispatch('view/alert/setAlert', {
        type: 'error',
        message: 'Ошибка загрузки',
      })
    }
  }

  @Emit('selectImg')
  imageWasSelect(inx: number) {
    return inx
  }

  selectImg(inx: number) {
    if (this.loading) return
    this.imageWasSelect(inx)
  }

  @Emit('deleteImage')
  imageWasDeleted(inx: number) {
    return inx
  }

  async deleteImage(inx: number) {
    if (this.loading) return
    this.imageWasDeleted(inx)
  }

  constructor() {
    super()
  }
}
</script>

<style scoped>
.nav-btn {
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
</style>
