<template>
  <v-footer
    padless
    fixed
    class="pa-0 d-flex flex-column"
    min-width="320"
    :min-height="navOpen ? height : '0'"
    color="transparent"
  >
    <v-row
      class="pa-0 ma-0 d-flex flex-column"
      :style="{ width: '100%' }"
      justify="center"
      align="center"
    >
      <!-- navigation btn -->
      <v-btn
        color="#383838"
        class="white--text pa-0 nav-btn"
        :ripple="false"
        :style="{
          border: 'none',
          boxShadow: 'none',
          alignSelf: 'center',
          backgroundColor: '#383838',
        }"
        width="170"
        text
        plain
        large
        @click.prevent="navOpen = !navOpen"
        >navigation
        <v-icon> {{ navOpen ? 'mdi-arrow-down' : 'mdi-arrow-up' }} </v-icon>
      </v-btn>
      <v-row
        class="ma-0 pt-2"
        :style="{ backgroundColor: '#383838', border: 'none', width: '100%' }"
      ></v-row>
    </v-row>
    <!-- open -->
    <v-row
      v-if="navOpen"
      class="ma-0 pa-2 overflow-x-auto flex-nowrap"
      justify="start"
      align="center"
      :style="{
        backgroundColor: '#383838',
        border: 'none',
        minHeight: '150px',
        width: '100%',
      }"
    >
      <draggable
        class="draggable d-flex"
        :list="mediasForNavigation"
        :options="{ disabled: shared }"
      >
        <div
          v-for="(image, inx) in medias"
          :key="inx"
          :style="{
            height: '150px',
            width: '200px',
          }"
          class="nav-list d-flex flex-column ma-0 pa-0 mx-2"
        >
          <nav-image
            :name="image.name"
            :url="image.src"
            :type="image.type"
            :inx="image.id"
            @deleteImage="deleteImg(image.id)"
            @editImage="editImg(image.id)"
            @click="selectImg(image.id)"
            :shared="shared"
          />
          <!-- name -->
          <v-row
            class="white--text pa-0 pl-2 ma-0"
            :style="{
              backgroundColor: 'black',
              overflow: 'hidden',
              lineHeight: '20px',
              fontSize: '12px',
              height: '22px',
              maxHeight: '22px',
            }"
          >
            {{ image.name }}
          </v-row>
        </div>
      </draggable>
      <v-col
        class="transparent pa-0 ma-0 d-flex align-center"
        cols="1"
        v-if="!shared"
      >
        <v-btn icon class="nav-btn-add-img nav-btn" @click="add()">
          <v-icon> mdi-plus-circle </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'
import NavImage from '~/components/navigation/navImage.vue'
import draggable from 'vuedraggable'
import _ from 'lodash'

export interface BottomNavigationMediaProps {
  id: number
  name: string
  src: string
  type: string
  order: number
}

export enum BottomNavigationMediaEvents {
  'select' = 'select',
  'add' = 'add',
  'delete' = 'delete',
  'edit' = 'edit',
}

@Component({
  components: {
    NavImage,
    draggable,
  },
})
export default class ComponentName extends Vue {
  loading() {
    return this.$store.getters['App/loading']
  }
  // internal logic
  navOpen = false
  desctopHeight = 250
  mobileHeight = 300

  get height() {
    return this.$vuetify.breakpoint.mdAndUp
      ? this.desctopHeight
      : this.mobileHeight
  }

  // external logic
  // props
  @Prop()
  mediasForNavigation!: BottomNavigationMediaProps[]

  @Prop()
  pageIsMounted!: boolean

  @Prop()
  shared!: boolean

  @Watch('mediasForNavigation')
  onMediasForNavigationChanged(value: BottomNavigationMediaProps[]) {
    if (this.pageIsMounted) this.reorder()
  }

  @Emit('reorder')
  reorder() {
    const orders = this.medias.map((media) => media.order).sort()

    return this.medias.map((media, inx) => {
      media.order = orders[inx]
      return media
    })
  }

  get medias() {
    return this.mediasForNavigation ?? []
  }

  set medias(media) {}

  // events
  @Emit(BottomNavigationMediaEvents.select)
  selectImg(id: number) {
    return id
  }

  @Emit(BottomNavigationMediaEvents.add)
  add() {
    return true
  }

  @Emit(BottomNavigationMediaEvents.delete)
  deleteImg(id: number) {
    return id
  }

  @Emit(BottomNavigationMediaEvents.edit)
  editImg(id: number) {
    return id
  }
}
</script>

<style scoped>
.nav-btn {
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.nav-btn-add-img .v-icon {
  font-size: 50px;
  color: white;
}
.nav-btn-add-img .v-icon:hover {
  color: #ccc;
}
</style>



