<template>
  <v-row
    class="ma-0 pa-0 flex-column"
    @click="click"
    justify="center"
    align="center"
  >
    <v-col class="ma-0 pa-0" cols="12">
      <v-img
        @load="onLoad"
        :src="src"
        class="d-flex"
        :style="{
          cursor: 'pointer',
          width: isLoad ? '100%' : '0px !important',
          height: isLoad ? '100%' : '0px !important',
        }"
        max-height="125"
        :min-height="isLoad ? '125' : '0'"
      >
        <div class="d-flex justify-space-between">
          <!-- close btn -->
          <v-img
            max-width="24px"
            max-height="24px"
            class="ml-1 mt-1"
            :src="iconPath"
          />
          <div class="d-flex ma-0 pa-0" v-if="!shared">
            <v-btn
              icon
              color="white"
              x-small
              class="mr-1 mt-1"
              :style="{ alignSelf: 'end', backgroundColor: 'black' }"
              v-if="type === 'pseudo3d'"
              @click.stop="editImage"
            >
              <v-icon>mdi-pencil </v-icon>
            </v-btn>
            <v-btn
              icon
              color="white"
              x-small
              class="mr-1 mt-1"
              :style="{
                alignSelf: 'end',
                backgroundColor: 'black',
              }"
              @click.stop="deleteImage"
            >
              <v-icon> mdi-close </v-icon>
            </v-btn>
          </div>
        </div>
      </v-img>
      <v-skeleton-loader
        class="skeleton"
        min-height="125"
        max-height="125"
        color="grey lighten-1"
        type="image"
        width="100%"
        v-if="!isLoad"
      ></v-skeleton-loader>
    </v-col>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { MediaType } from '~/store/data/media'

@Component({})
export default class NavImage extends Vue {
  onLoad() {
    this.isLoad = true
  }
  get src() {
    switch (this.type) {
      case MediaType.image:
        return this.url
      case MediaType.video:
        return require('@/assets/media-types/video.png')
      case MediaType.panorama:
        return this.url
      case MediaType.audio:
        return require('@/assets/media-types/audio.jpeg')
      case MediaType.d3:
        return require('@/assets/media-types/3d.jpeg')
      default:
        return this.url
    }
  }

  @Prop()
  shared!: boolean

  @Prop()
  type!: string

  @Prop()
  name!: string

  @Prop()
  url!: string

  @Prop()
  inx!: number

  @Emit('click')
  click() {
    return this.inx
  }

  @Emit('deleteImage')
  deleteImage() {
    return this.inx
  }

  @Emit('editImage')
  editImage() {
    return this.inx
  }

  isLoad = false

  get iconPath() {
    switch (this.type) {
      case MediaType.image:
        return require('@/assets/media-type-images/2d.svg')
      case MediaType.panorama:
        return require('@/assets/media-type-images/360.svg')
      case MediaType.pseudo3d:
        return require('@/assets/media-type-images/pseudo-3d.svg')
    }
  }

  hover() {}
}
</script>


