<template>
  <v-card min-height="650px" min-width="500px">
    <v-row class="pa-0 ma-0 mt-7" justify="start">
      <v-row class="pa-0 ma-0 col-12" justify="center">
        <span class="text-h6 pa-0 text-center">
          Тип создаваемого медиа-объекта
        </span>
      </v-row>
      <v-row class="ma-0 pa-0 col-12 mt-7" justify="start">
        <!-- switchers -->
        <v-row class="ma-0 pa-0 switchers col-5">
          <v-row
            class="ma-0 pa-0 col-12 pa-1 pl-4"
            v-for="(type, inx) in mediaTypes"
            :key="inx"
          >
            <v-switch
              :disabled="type.value === selectedType || isExclusiveType"
              v-model="selectedType"
              :value="type.value"
              :label="type.title"
              color="#05ca68"
              hide-details="true"
            >
            </v-switch>
          </v-row>
        </v-row>
        <v-row class="ma-0 pa-0 images col-5" align="center">
          <v-img
            max-width="250px"
            min-width="250px"
            max-height="150px"
            min-height="150px"
            class="rounded-lg"
            :src="mediaTypeImage"
          >
          </v-img>
        </v-row>
      </v-row>

      <v-row class="ma-0 pa-0 col-12 mt-15">
        <v-divider></v-divider>
      </v-row>
      <v-row class="ma-0 pa-0 mt-5 mr-5" justify="center">
        <v-file-input
          :disabled="disabled ? true : false"
          :accept="extensions.join(', ')"
          :rules="rules"
          v-model="files"
          color="05ca68"
          counter
          label="Файлы для загрузки"
          placeholder="Выберите файлы для загрузки"
          prepend-icon="mdi-paperclip"
          outlined
          :show-size="1000"
          class="col-10"
          :style="{
            marginBottom: selectedType === 'pseudo3d' ? '0px' : '20px',
          }"
          :multiple="true"
        >
          <template v-slot:selection="{ index, text }">
            <v-chip v-if="index < 1" color="#05ca68" dark label small>
              {{ text }}
            </v-chip>

            <span
              v-else-if="index === 2"
              class="text-caption grey--text text--darken-3 mx-2"
            >
              +{{ files.length - 1 > 1 ? files.length - 1 : 1 }} файл (ов)
            </span>
          </template>
        </v-file-input>
      </v-row>
      <v-row class="ma-0 pa-0 col-12" justify="center">
        <v-btn
          height="60"
          class="col-10 white--text"
          color="#05ca68"
          :disabled="files.length === 0 ? true : false"
          @click="uploadFiles"
        >
          Создать
        </v-btn>
      </v-row>
    </v-row>
  </v-card>
</template>

<script async lang="ts">
import { lowerFirst } from 'lodash'
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import ProjectBuilder, { MediaId } from '~/plugins/ProjectBuilder'
import { MediaType } from '~/store/data/media'

@Component({})
export default class AddMediaToGallary extends Vue {
  static width = '500px'
  loading() {
    return this.$store.getters['App/loading']
  }

  get mediaTypes() {
    return [
      {
        title: 'Изображение',
        value: 'image',
        src: require('~/assets/media-types/image.jpeg'),
        extensions: ['.jpg', '.jpeg', '.png', '.gif', '.bmp', '.svg'],
        maxSize: 15 * 1024 * 1024,
      },
      {
        title: 'Видео',
        value: 'video',
        src: require('~/assets/media-types/video.png'),
        extensions: ['.mp4', '.avi', '.mov', '.mkv'],
        maxSize: 100 * 1024 * 1024,
      },
      {
        title: 'Аудио',
        value: 'audio',
        src: require('~/assets/media-types/audio.jpeg'),
        extensions: ['.mp3', '.wav', '.ogg'],
        maxSize: 100 * 1024 * 1024,
      },
      // {
      //   title: '3D модель',
      //   value: '3d',
      // },
      {
        title: 'Панорама',
        value: 'panorama',
        src: require('~/assets/media-types/panorama.jpeg'),
        extensions: ['.jpg', '.jpeg', '.png'],
        maxSize: 25 * 1024 * 1024,
      },
      {
        title: 'Псевдо 3D',
        value: 'pseudo3d',
        src: require('~/assets/media-type-images/pseudo-3d.svg'),
        extensions: ['.jpg', '.jpeg', '.png'],
        maxSize: 25 * 1024 * 1024,
      },
    ]
  }
  mediaTypeImage = this.mediaTypes.find((type) => type.value === 'image')?.src

  rules = [
    (file: File) => {
      if (!file) return true
      const type = this.selectedType
      const mediaInfo = this.mediaTypes.find(
        (mediaType) => mediaType.value === type
      )
      if (!mediaInfo) return false

      const { maxSize } = mediaInfo
      const { size } = file
      if (size > maxSize)
        return `Размер одного файла не должен превышать ${
          maxSize / 1024 / 1024
        } Мб`
      return true
    },
  ]

  set selectedType(type: string) {
    this.mediaTypeImage =
      this.mediaTypes.find((t) => t.value === type)?.src || ''
    this.files = []

    this.$store.dispatch('view/editor/gallery/setAddMediaType', type)
  }

  get selectedType() {
    return this.$store.getters['view/editor/gallery/addMediaType'] || 'image'
  }

  filesToUpload: File[] = []
  get files() {
    return this.filesToUpload ?? []
  }
  set files(selectedFiles: File[]) {
    if (!selectedFiles) {
      this.filesToUpload = []
      return
    }

    const fls: unknown = Array.isArray(selectedFiles as unknown)
      ? selectedFiles
      : [selectedFiles]
    const files = fls as File[]

    const type = this.mediaTypes.find((t) => t.value === this.selectedType)
    if (!type) return

    let checkFilesSize = true
    files.forEach((file) => {
      if (file.size > type.maxSize) checkFilesSize = false
    })
    if (!files.length || !checkFilesSize) return
    this.filesToUpload = files ?? []
  }

  get disabled() {
    return !this.selectedType
  }

  get extensions(): string[] {
    if (!this.selectedType) return []

    const exts =
      this.mediaTypes.find((type) => type.value === this.selectedType)
        ?.extensions || []
    return exts
  }

  get isExclusiveType() {
    return this.$store.getters['view/editor/gallery/isExclusiveType']
  }

  private async createPseudo3d(projectId: number) {
    const firstFile = this.files[0]
    if (!firstFile) return

    const parent = (await ProjectBuilder.createMediaFromFile(
      this,
      {
        files: firstFile,
        mediaType: MediaType.pseudo3d,
        mediaName: this.selectedType,
        mediaDescription: 'first image of pseudo3d',
        filesType: this.selectedType,
      },
      projectId
    )) as MediaId

    if (!parent) return

    const restOfFiles = this.files.slice(1)
    if (!restOfFiles.length) return

    await ProjectBuilder.handleMedia(
      this,
      {
        files: restOfFiles,
        mediaType: MediaType.pseudo3d,
        mediaName: this.selectedType,
        mediaDescription: 'image of pseudo3d',
        filesType: this.selectedType,
      },
      projectId,
      parent
    )
  }

  async uploadFiles() {
    const projectId = this.$store.getters['view/editor/gallery/project'][0].id
    if (this.selectedType === 'pseudo3d') {
      await this.createPseudo3d(projectId)
    }
    if (this.selectedType !== 'pseudo3d') {
      const parentMediaId = this.$store.getters['view/editor/gallery/mediaId']
      const media = await ProjectBuilder.handleMedia(
        this,
        {
          files: this.files,
          mediaType: this.selectedType as MediaType,
          mediaName: this.selectedType,
          mediaDescription: 'upload from navbar',
          filesType: this.selectedType,
        },
        projectId,
        parentMediaId
      )
    }

    await this.$store.dispatch('view/editor/gallery/setRemountStatus', true)
    this.$store.dispatch('view/dialog/close')
  }
}
</script>


<style >
.switchers .v-label--is-disabled {
  font-weight: 900;
}
</style>


