


<template>
  <v-card
    :style="{
      height: '100% important',
    }"
    min-width="1000"
    class="pa-0"
    flat
  >
    <v-row class="ma-0 pa-0" justify="space-around">
      <!-- editor -->
      <v-row
        class="ma-0 pa-0 col-12 ma-2 overflow-y-scroll"
        justify="space-between"
      >
        <v-card
          class="ma-0 pa-0 col-12 overflow-y-scroll"
          min-height="750"
          :style="{
            overflowY: 'scroll !important',
          }"
          flat
        >
          <v-row
            v-for="imglist of finishLists"
            :key="imglist.key"
            class="ma-1 pa-0 overflow-y-scroll"
            :style="{
              backgroundColor: '#383838',
              minHeight: '170px',
              maxHeight: '450px',
            }"
          >
            <draggable
              class="draggable d-flex justify-start"
              :list="imglist.images"
              :style="{
                maxHeight: `${height} !important`,
                minHeight: `214px !important`,
                maxWidth: `${width} !important`,
                minWidth: `${width} !important`,
                overflowX: 'scroll',
                width: '100%',
              }"
              group="images"
              @change="listChanged"
            >
              <edit-pseudo-3d-image
                :style="{
                  maxHeight: `${height} !important`,
                  minHeight: `${height} !important`,
                  maxWidth: `${width} !important`,
                  minWidth: `${width} !important`,
                }"
                class="mx-5 overflow-y-scroll"
                v-for="image in imglist.images"
                :key="image.inx"
                :src="image.src"
                :name="image.name"
              />
            </draggable>
          </v-row>
          <v-row class="ma-0 pa-0" justify="center">
            <v-btn icon x-large @click="addFinishList">
              <v-icon> mdi-plus </v-icon>
            </v-btn>
            <v-btn icon x-large @click="removeFinishList">
              <v-icon> mdi-minus </v-icon>
            </v-btn>
          </v-row>
        </v-card>
      </v-row>
    </v-row>
  </v-card>
</template>

<script async lang="ts">
import * as _ from 'lodash'
import { nanoid } from 'nanoid'
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import draggable from 'vuedraggable'
import EditPseudo3dImage from '~/components/dialogs/specific/editPseudo3DialogElements/edit-pseudo-3d-img.vue'
import { FileId, updateFileSettings } from '~/store/data/file'
import { updateSettings } from '~/store/data/media'
import { applyPseudo3D } from './editPseudo3DialogElements/applyPseudo3D'

@Component({
  components: {
    EditPseudo3dImage,
    draggable,
  },
})
export default class EditPseudo3DDialog extends Vue {
  static contentClass = 'rounded-sm'
  static width = 1000
  name = 'ComponentName'
  width = 200
  height = 150

  constructor() {
    super()
  }

  async listChanged(data) {
    const updatedFiles = await this.updateFilePosition()
    for (const file of updatedFiles) {
      await updateFileSettings(this, {
        fileId: file.id,
        settings: {
          ..._.pick(file, ['relativeColumn', 'relativeLine']),
        },
      })
    }
  }

  finishLists: any[] = []
  async addFinishList() {
    const newFinishList: any = {
      key: nanoid(),
      images: [],
    }
    this.finishLists.push(newFinishList)
    await updateSettings(this, {
      mediaId: this.mediaId,
      settings: {
        numberOfLines: this.finishLists.length,
      },
    })
  }

  async removeFinishList() {
    if (this.finishLists.length === 1) return
    const list = this.finishLists.pop()
    if (list) {
      this.finishLists[0].images = this.finishLists[0].images.concat(
        list.images
      )
      await this.listChanged({})
    }

    await updateSettings(this, {
      mediaId: this.mediaId,
      settings: {
        numberOfLines: this.finishLists.length,
      },
    })
  }

  get mediaSettings() {
    const settings = this.$store.getters['data/media/byId'](
      this.mediaId
    ).settings

    return _.isEqual(settings, {})
      ? {
          numberOfLines: 1,
        }
      : JSON.parse(settings)
  }
  get media() {
    return this.$store.getters['data/media/byId'](this.mediaId)
  }

  get mediaId() {
    return this.$store.getters['view/editor/gallery/editMediaId']
  }
  filesWithPos: {
    id: FileId
    relativeLine: number
    relativeColumn: number
  }[] = []

  async updateFilePosition() {
    let filesToUpdate: {
      id: FileId
      relativeLine: number
      relativeColumn: number
    }[] = []
    for (let i = 0; i < this.filesWithPos.length; ++i) {
      const file = this.filesWithPos[i]

      for (let j = 0; j < this.finishLists.length; ++j) {
        const list = this.finishLists[j]
        for (let k = 0; k < list.images.length; ++k) {
          const image = list.images[k]
          if (image.id === file.id) {
            filesToUpdate.push({
              id: file.id,
              relativeLine: j,
              relativeColumn: k,
            })
          }
        }
      }
    }

    return filesToUpdate
  }

  async mounted() {
    await applyPseudo3D(this, this.media, this.finishLists, this.filesWithPos)
  }
}
</script>


