<template>
  <!-- card -->
  <v-card class="pa-5 login-dialog" rounded="xl" :width="width">
    <v-form>
      <!-- logo -->
      <v-row class="pa-0 ma-0">
        <arizio-logo :logoWidth="300" :logoHeight="200" class="my-10" />
      </v-row>
      <!-- email -->
      <v-row class="ma-0 pa-0">
        <email @email-input="setEmail" />
      </v-row>

      <!-- submit -->
      <v-row class="pa-0 ma-0">
        <v-btn
          block
          class="white--text mt-5"
          x-large
          :loading="loading ? true : false"
          @click="newPassword"
          :disabled="canSubmit ? false : true"
          color="#05ca68"
        >
          Отправить новый пароль
        </v-btn>
      </v-row>
      <!-- icons -->
    </v-form>
  </v-card>
</template>

<script async lang="ts">
import Vue from 'vue'
import ArvizioLogo from '~/components/arizio-logo.vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { DialogWidth } from './interface'
import Email from '~/components/forms/inputs/email.vue'
import Password from '~/components/forms/inputs/password.vue'
import { DialogMode } from '~/plugins/interfaces'
import user from '~/store/data/user'

@Component({
  components: {
    ArvizioLogo,
    Email,
    Password,
  },
})
export default class NewPassword extends Vue implements DialogWidth {
  width: string = NewPassword.width

  static width = '500px'

  email: string = ''
  password: string = ''
  confirm: string = ''

  get canSubmit(): boolean {
    if ([this.email.length].includes(0)) return false
    return true
  }

  get loading() {
    return this.$store.getters['App/loading']
  }
  setEmail(email: string) {
    this.email = email
  }

  async newPassword() {
    await user.newPassword(this, this.email)
  }
}
</script>


