

<template>
  <v-card :width="width" class="pa-15">
    <v-form>
      <v-row class="ma-0 pa-0" justify="center">
        <span class="text-h5"> Создание проекта </span>
      </v-row>
      <!-- name -->
      <v-row class="ma-0 my-5 pa-0">
        <input-text @TextInputEmit="setName" :label="'Имя проекта'" />
      </v-row>

      <!-- link to parent -->
      <v-row class="ma-0 my-5 pa-0">
        <!-- <input-text :label="'Ссылка на родительский сайт'" /> -->
        <url-input @UrlInput="setPartentSiteAddress" />
      </v-row>
      <!-- link text -->
      <v-row class="ma-0 my-5 pa-0" v-if="needTextLink">
        <input-text :label="'Текст ссылки'" @TextInputEmit="setTextLink" />
      </v-row>

      <!-- logo -->
      <v-row class="ma-0 my-5 pa-0">
        <file-input :accept="logoExts" :label="'Логотип'" @files="setLogo" />
      </v-row>
      <!-- images -->
      <v-row class="ma-0 my-5 pa-0" v-if="!isGallery && !isPseudo3d">
        <file-input
          :accept="isModel3d ? model3DExts : imageExts"
          :multiple="multyply"
          @files="setImages"
          :label="
            isGallery || isModel3d || isPseudo3d
              ? 'Несколько файлов'
              : 'Один файл'
          "
        />
      </v-row>

      <!-- audio -->
      <!-- <v-row class="ma-0 my-5 pa-0" v-if="isGallery">
        <file-input
          :accept="audioExts"
          :label="'Аудиодорожка'"
          @files="setAudio"
        />
      </v-row> -->
      <!-- radio -->
      <!-- <v-row class="ma-0 pa-0" v-if="radioOptions.length" justify="center">
        <span class="text-h5 my-5"> Выберите тип изображения </span>
        <radio-input :options="radioOptions" @setOption="setOption" />
      </v-row> -->
      <!-- byn -->
      <v-row class="ma-0 my-5 pa-0" justify="center">
        <v-btn
          x-large
          color="#05ca68"
          class="white--text"
          :disabled="isSubmit ? false : true"
          :loading="loading ? true : false"
          @click="createProject"
        >
          Создать проект
        </v-btn>
      </v-row>
    </v-form>
  </v-card>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import FileInput from '~/components/forms/inputs/file-input.vue'
import InputText from '~/components/forms/inputs/inputText.vue'
import RadioInput from '~/components/forms/inputs/radio-input.vue'
import UrlInput from '~/components/forms/inputs/url-input.vue'
import { DialogMode, ProjectOptionLabels } from '~/plugins/interfaces'
import { ProjectType } from '~/store/data/project'
import ProjectBulder from '~/plugins/ProjectBuilder'
import { DialogWidth } from './interface'
import { setAlert } from '~/store/view/alert'
import { AlertType } from '~/components/alerts/interface'
@Component({
  components: {
    InputText,
    FileInput,
    UrlInput,
    RadioInput,
  },
})
export default class NewProjectDialog extends Vue implements DialogWidth {
  static width = '500px'
  width = NewProjectDialog.width

  get logoExts() {
    return ['.png', '.jpg', '.jpeg', '.svg']
  }

  get imageExts() {
    return ['.png', '.jpg', '.jpeg', '.svg']
  }

  get audioExts() {
    return ['.mp3', '.wav', '.ogg']
  }

  get videoExts() {
    return ['.mp4', '.webm', '.ogg']
  }

  get model3DExts() {
    return ['.png', '.jpg', '.jpeg', '.svg', '.obj', '.fbx', '.gltf', '.glb']
  }

  get multyply() {
    return this.isGallery || this.isModel3d || this.isPseudo3d ? true : false
  }

  get isModel3d() {
    const mode = this.$store.getters['view/project/type']
    return mode === ProjectType.dem3
  }

  get isGallery() {
    const mode = this.$store.getters['view/project/type']
    return mode === ProjectType.gallery
  }

  get isPseudo3d() {
    const mode = this.$store.getters['view/project/type']
    return mode === ProjectType.pseudo3d
  }

  get radioOptions(): string[] {
    const mode = this.$store.getters['view/project/type']
    switch (mode) {
      case DialogMode.model3d:
        return [ProjectOptionLabels.internal, ProjectOptionLabels.external]
      case DialogMode.gallery:
        return [ProjectOptionLabels.panorama, ProjectOptionLabels.other]
      default:
        return []
    }
  }
  get needTextLink(): boolean {
    return this.parentSiteAddress !== ''
  }

  parentSiteAddress: string = ''
  name: string = ''
  audio: File | undefined = undefined
  logo: File | undefined = undefined
  files: File[] = []
  options: string[] = []

  setOption(option: string) {
    const key = Object.values(ProjectOptionLabels).findIndex(
      (label) => label === option
    )
    this.options = [Object.keys(ProjectOptionLabels)[key]]
  }

  setPartentSiteAddress(address: string) {
    this.parentSiteAddress = address
  }

  textLink: string = ''
  setTextLink(text: string) {
    this.textLink = text
  }

  setName(name: string) {
    this.name = name
  }

  setAudio(audio: File) {
    this.audio = audio
  }

  setLogo(file: File) {
    this.logo = file
  }

  setFiles(files: File[]) {
    this.files = files
  }
  setImages(files: File[] | File) {
    if (Array.isArray(files)) {
      this.setFiles(files)
    } else {
      this.setFiles([files])
    }
  }

  get isSubmit() {
    return this.name.length > 0
  }

  static checkModel3d(files: File[]) {
    let findFbx: number = 0

    files.forEach((file) => {
      if (file.name?.toLowerCase().includes('.fbx')) {
        findFbx++
      }
    })

    if (findFbx !== 1) {
      return false
    }
    return true
  }
  async createProject() {
    let type = this.$store.getters['view/project/type']
    if (this.isModel3d && NewProjectDialog.checkModel3d(this.files) === false) {
      setAlert(this, {
        message:
          'Необходимо загрузить по крайнеме мере один файл формата .fbx. Пожалуйста, проверьте файлы и попробуйте еще раз.',
        type: AlertType.error,
      })
      return
    }

    const createDTO = {
      name: this.name,
      logo: this.logo ? this.logo : undefined,
      images: this.files ? this.files : [],
      audios: this.audio ? [this.audio] : [],
      videos: [],
      description: this.textLink + '/' + this.parentSiteAddress,
      options: this.options,
      type,
    }

    await ProjectBulder.create(this, createDTO)
  }

  get loading() {
    return this.$store.getters['App/loading']
  }
  constructor() {
    super()
  }
}
</script>


