<template>
  <!-- card -->
  <v-card class="pa-5 login-dialog" rounded="xl" :width="width">
    <v-form>
      <!-- logo -->
      <v-row class="pa-0 ma-0">
        <arizio-logo :logoWidth="300" :logoHeight="200" class="my-10" />
      </v-row>
      <!-- email -->
      <v-row class="ma-0 pa-0">
        <email @email-input="setEmail" />
      </v-row>
      <!-- password -->
      <v-row class="ma-0 pa-0">
        <password @password-input="setPassword" />
      </v-row>

      <!-- restore password -->
      <v-row class="ma-0 pa-0" justify="end">
        <v-btn
          text
          :disabled="loading ? true : false"
          :loading="loading ? true : false"
          @click="forgotPassword"
        >
          Забыли пароль?
        </v-btn>
      </v-row>

      <!-- submit -->
      <v-row class="pa-0 ma-0">
        <v-btn
          block
          class="white--text mt-5"
          x-large
          :loading="loading ? true : false"
          @click="login"
          :disabled="canSubmit ? false : true"
          color="#05ca68"
        >
          Отправить
        </v-btn>
      </v-row>
      <!-- icons -->
      <social />
    </v-form>
  </v-card>
</template>

<script async lang="ts">
import Vue from 'vue'
import ArvizioLogo from '~/components/arizio-logo.vue'
import Social from '~/components/social.vue'
import Email from '~/components/forms/inputs/email.vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import Password from '~/components/forms/inputs/password.vue'
import { DialogWidth } from './interface'
import { DialogMode } from '~/plugins/interfaces'

@Component({
  components: {
    ArvizioLogo,
    Social,
    Email,
    Password,
  },
})
export default class LoginDialog extends Vue implements DialogWidth {
  static width = '500px'
  width = LoginDialog.width
  constructor() {
    super()
  }
  email: string = ''

  forgotPassword() {
    this.$store.dispatch('view/dialog/open', DialogMode.forgotPassword)
  }

  setEmail(email: string) {
    this.email = email
  }

  password: string = ''
  setPassword(password: string) {
    this.password = password
  }

  get loading() {
    return this.$store.getters['App/loading']
  }

  get canSubmit() {
    return this.email.length > 0 && this.password.length > 0
  }

  async login() {
    await this.$store.dispatch('App/loading', true)
    const signIn = await this.$store.dispatch('data/user/check', {
      email: this.email,
      password: this.password,
    })

    await this.$store.dispatch('App/loading', false)
    if (signIn) {
      this.$store.dispatch('view/alert/setAlert', {
        type: 'success',
        message: 'Авторизация прошла успешно',
        timeout: 2000,
      })
      this.$store.dispatch('view/dialog/close')
      return
    }

    let errorMess =
      'Авторизация не удалась, возможно учетная запись не подтверджена'

    this.$store.dispatch('view/alert/setAlert', {
      type: 'error',
      message: errorMess,
      timeout: 5000,
    })
  }
}
</script>


