<template>
  <!-- card -->
  <v-card class="pa-5 login-dialog" rounded="xl" :width="width">
    <v-form>
      <!-- logo -->
      <v-row class="pa-0 ma-0">
        <arizio-logo :logoWidth="300" :logoHeight="200" class="my-10" />
      </v-row>
      <!-- email -->
      <v-row class="ma-0 pa-0">
        <email @email-input="setEmail" />
      </v-row>
      <!-- password -->
      <v-row class="ma-0 pa-0">
        <password @password-input="setPassword" />
      </v-row>

      <!-- confirm -->
      <v-row class="ma-0 pa-0">
        <password
          @password-input="setConfirm"
          :incomeError="confirmError"
          label="Повторите пароль"
        />
      </v-row>

      <!-- submit -->
      <v-row class="pa-0 ma-0">
        <v-btn
          block
          class="white--text mt-5"
          x-large
          :loading="loading ? true : false"
          @click="signUp"
          :disabled="canSubmit ? false : true"
          color="#05ca68"
        >
          Отправить
        </v-btn>
      </v-row>
      <!-- icons -->
      <social />
    </v-form>
  </v-card>
</template>

<script async lang="ts">
import Vue from 'vue'
import ArvizioLogo from '~/components/arizio-logo.vue'
import Social from '~/components/social.vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { DialogWidth } from './interface'
import Email from '~/components/forms/inputs/email.vue'
import Password from '~/components/forms/inputs/password.vue'

@Component({
  components: {
    ArvizioLogo,
    Social,
    Email,
    Password,
  },
})
export default class SignUp extends Vue implements DialogWidth {
  width: string = SignUp.width

  static width = '500px'

  email: string = ''
  password: string = ''
  confirm: string = ''

  get canSubmit(): boolean {
    if (
      [this.email.length, this.password.length, this.confirm.length].includes(0)
    )
      return false

    return this.email.length > 0 && this.password === this.confirm
  }

  get loading() {
    return this.$store.getters['App/loading']
  }
  setEmail(email: string) {
    this.email = email
  }
  setPassword(password: string) {
    this.password = password
  }
  setConfirm(confirm: string) {
    this.confirm = confirm
  }

  get confirmError() {
    return this.password !== this.confirm && this.confirm.length > 0
      ? 'Пароли не совпадают'
      : ''
  }

  async signUp() {
    await this.$store.dispatch('App/loading', true)
    const res = await this.$store.dispatch('data/user/create', {
      email: this.email,
      password: this.password,
    })

    await this.$store.dispatch('App/loading', false)
    if (res) {
      this.$store.dispatch('view/dialog/close')
      this.$store.dispatch('view/alert/setAlert', {
        type: 'success',
        message:
          'Регистрация прошла успешно, проверьте e-mail для подтверждения регистрации',
        timeout: 10000,
      })
      return
    }

    this.$store.dispatch('view/alert/setAlert', {
      type: 'error',
      message:
        'Произошла ошибка, возможно пользователь с таким e-mail уже существует',
      timeout: 2000,
    })

    this.$store.dispatch('view/dialog/close')
  }
}
</script>


