<template>
  <v-container class="ma-0 pa-0"> </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { DialogWidth } from './interface'

@Component({})
export default class X360Dialog extends Vue implements DialogWidth {
  static width = '500px'
  width = X360Dialog.width
}
</script>


