<template>
  <v-row class="ma-0 pa-0 gallery col-12">
    <template-gallery :projectId="projectId" :shared="true" class="col-12" />
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import TemplateGallery from '~/templates/template-gallery.vue'

@Component({
  layout: 'editor',
  components: {
    TemplateGallery,
  },
})
export default class SharedGallery extends Vue {
  constructor() {
    super()
  }
  get projectId() {
    return this.$route.params.id
  }
}
</script>



