// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$main-color: #05ca68;
$text-field-outlined-fieldset-border-width: 2px;
$dialog-login-min-height: 750px;
