<template>
  <v-text-field
    label="E-mail"
    type="email"
    outlined
    v-model="email"
    :color="$store.getters['dom/mainColor']"
    :rules="input.rules"
    :success="input.success"
    :error="input.error"
  />
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { InputWithStats } from './interfaces'

class EmailInput extends InputWithStats {
  constructor(emitFunc: any) {
    super()
    this.EmitFunc = emitFunc
  }
  valid(value: string): boolean {
    const pattern =
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return pattern.test(value)
  }
  invalid(value: string): string {
    return 'Некорректный e-mail'
  }
}

@Component({})
export default class Email extends Vue {
  email: string = ''

  @Emit()
  EmailInput() {
    return this.email
  }

  input = new EmailInput(this.EmailInput)
}
</script>


