<template>
  <v-file-input
    :multiple="multiple"
    :disabled="disabled"
    :accept="accept"
    :label="label"
    hide-details="true"
    :hide-input="isBtn ? true : false"
    :prepend-icon="isBtn ? 'mdi-plus-circle' : 'mdi-image-area'"
    :class="
      'pa-0' + (isBtn ? ' ma-0' : '') + (searchClass ? ' ' + searchClass : '')
    "
    @change="files"
  >
  </v-file-input>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'

@Component({})
export default class FileInput extends Vue {
  @Prop()
  searchClass!: string

  @Prop()
  isBtn!: boolean

  @Prop()
  label!: string

  @Prop()
  disabled!: boolean

  @Prop()
  multiple!: boolean

  @Prop()
  accept!: string

  constructor() {
    super()
  }

  @Emit('files')
  files(files: File[]) {
    return files
  }
}
</script>


