<template>
  <v-select
    outlined
    hide-details="true"
    :items="items"
    v-model="item"
    @change="select"
    :disabled="disabled"
    height="100%"
    item-text="shortName"
    item-value="id"
    multiple
  >
  </v-select>
</template>

<script async lang="ts">
import _ from 'lodash'
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'

enum spotOperation {
  create = 'create',
  delete = 'delete',
  ignore = 'ignore',
}

@Component({})
export default class ImageSelect extends Vue {
  @Watch('items')
  onItemsChange() {}

  @Prop()
  items!: any[]

  item: number[] = []
  prev: number[] = []

  @Prop()
  disabled!: boolean

  @Emit('select')
  select(selected: any) {
    return this.items.map((it) => {
      return {
        id: it.id,
        spotOperation,
      }
    })

    this.prev = this.item
  }
}
</script>


