<template>
  <v-text-field
    :label="label"
    outlined
    v-model="someText"
    @input="TextInputEmit"
    hide-details=""
  />
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { InputWithStats } from './interfaces'

class TextInput extends InputWithStats {
  constructor(emitFunc: any) {
    super()
    this.EmitFunc = emitFunc
  }
  valid(value: string): boolean {
    return true
  }
  invalid(value: string): string {
    return ''
  }
}

@Component({})
export default class TextInputComponent extends Vue {
  someText: string = ''

  @Emit('TextInputEmit')
  TextInputEmit() {
    return this.someText
  }

  @Prop()
  label!: string

  @Prop()
  rules!: []

  input = new TextInput(this.TextInputEmit)
}
</script>


