<template>
  <v-text-field
    autocomplete
    :label="label ? label : 'Пароль'"
    outlined
    :color="$store.getters['dom/mainColor']"
    :success="input.success"
    :rules="input.rules"
    v-model="password"
    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
    :type="showPassword ? 'text' : 'password'"
    @click:append="showPassword = !showPassword"
    :error-messages="incomeError ? [incomeError] : []"
    counter="64"
  >
  </v-text-field>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { InputWithStats } from './interfaces'

class PasswordInput extends InputWithStats {
  constructor(emitFunc: any) {
    super()
    this.EmitFunc = emitFunc
  }
  valid(value: string): boolean {
    value = value.replaceAll(' ', '')
    return !!value && value.length >= 6 && value.length <= 64
  }
  invalid(value: string): string {
    return 'Пароль должен не менее 6 символов и не более 64'
  }
}

@Component({})
export default class Password extends Vue {
  constructor() {
    super()
  }
  password: string = ''
  showPassword: boolean = false

  input = new PasswordInput(this.PasswordInput)

  @Prop()
  label!: string

  @Prop()
  incomeError!: string

  @Emit()
  PasswordInput() {
    return this.password
  }
}
</script>


