<template>
  <v-row class="ma-0 pa-0" justify="space-around">
    <v-radio-group v-model="selected" class="col-12 flex-row ma-0 pa-0">
      <v-radio
        v-for="(option, inx) in radioOptions"
        :key="inx"
        :label="option"
        :value="option"
        @change="select(option)"
        :color="color ? color : '#05ca68'"
      >
      </v-radio>
    </v-radio-group>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'

@Component({})
export default class InputRadio extends Vue {
  selected: string = ''

  @Prop()
  color!: string

  @Prop()
  options!: string[]

  @Emit('selectOption')
  select(option: string) {
    return option
  }

  get radioOptions() {
    return this.options ? this.options : []
  }
}
</script>


