<template>
  <v-text-field
    label="Адрес вашего сайта (опционально)"
    type="url"
    outlined
    v-model="url"
    hide-details="true"
    :color="$store.getters['dom/mainColor']"
    :rules="input.rules"
    :success="input.success"
    :error="input.error"
  />
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { InputWithStats } from './interfaces'

class UrlInput extends InputWithStats {
  constructor(emitFunc: any) {
    super()
    this.EmitFunc = emitFunc
  }
  valid(value: string): boolean {
    const pattern =
      /^[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)$/
    return value.length === 0 || pattern.test(value)
  }
  invalid(value: string): string {
    return 'Некорректный url'
  }
}

@Component({})
export default class Email extends Vue {
  url: string = ''

  @Emit('UrlInput')
  UrlInput() {
    return this.url
  }

  input = new UrlInput(this.UrlInput)
}
</script>


