<template>
  <v-row class="ma-0 pa-0 gallery col-12">
    <template-pano :projectId="projectId" class="col-12" />
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import TemplatePano from '../../../templates/template-pano.vue'

@Component({
  layout: 'editor',
  components: {
    TemplatePano,
  },
  middleware: 'auth',
})
export default class GalleryEditor extends Vue {
  constructor() {
    super()
  }
  get projectId() {
    return this.$route.params.id
  }
}
</script>
