<template>
  <v-row class="ma-0 pa-0 gallery col-12">
    <template-pano :projectId="projectId" :shared="true" class="col-12" />
  </v-row>
</template>

<script async lang="ts">
import 'video.js/dist/video-js.css'
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import TemplatePano from '~/templates/template-pano.vue'

@Component({
  layout: 'editor',
  components: {
    TemplatePano,
  },
})
export default class SharedPano extends Vue {
  get projectId() {
    return this.$route.params.id
  }
}
</script>

<style >
.gallery .v-skeleton-loader__image {
  min-height: 600px !important;
}
</style>


