<template>
  <v-app class="app">
    <v-main class="d-flex flex-row justify-center">
      <navbar />
      <v-container class="pa-0 d-flex flex-column justify-center align-center">
        <base-alert />
        <v-row class="ma-0 pa-0 mt-15">
          <base-dialog />

          <nuxt />
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script async>
import navbar from '../components/navbar.vue'
import BaseDialog from '@/components/dialogs/base-dialog.vue'
import BaseAlert from '@/components/alerts/base-alert.vue'
export default {
  name: 'def',
  components: {
    navbar,
    BaseDialog,
    BaseAlert,
  },
}
</script>


<style>
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf)
      format('truetype');
}

@font-face {
  font-family: 'Chopper';
  src: local('Chopper'),
    url(../assets/fonts/Chopper_Regular.json) format('truetype');
}
.app {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  min-width: 320px !important;
}

.dialog {
  border-radius: 20px;
}
</style>
