<template>
  <div>
    <v-app
      class="app"
      :style="{
        maxHeight: '100px',
      }"
    >
      <v-main
        class="d-flex flex-row justify-center col-12"
        :style="{
          maxHeight: '100px',
        }"
      >
        <navbar />
        <base-dialog />
        <base-alert />

        <v-container>
          <nuxt />
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script async>
import navbar from '../components/navbar.vue'
import BaseDialog from '@/components/dialogs/base-dialog.vue'
import BaseAlert from '@/components/alerts/base-alert.vue'
export default {
  name: 'def',
  components: {
    navbar,
    BaseDialog,
    BaseAlert,
  },
}
</script>



