<template>
  <v-row class="ma-0 pa-0">
    <div class="container">
      <arizio-logo class="mb-15" />
      <v-row class="ma-0 pa-0 col-12 mb-15">
        <h1 class="text-center" v-if="error.statusCode === 404">
          Страница не найдена
        </h1>
        <h1 class="text-center" v-if="error.statusCode !== 404">
          Возникла непредвиденная ошибка, попробуйте снова
        </h1>
      </v-row>
      <v-row class="ma-0 pa-0 col-12" justify="center">
        <span class="text-center">
          <NuxtLink to="/">Перейти на главную страницу</NuxtLink>
        </span>
      </v-row>
    </div>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import arizioLogo from '~/components/arizio-logo.vue'

@Component({
  layout: 'def',
  components: {
    arizioLogo,
  },
})
export default class ErrorLayout extends Vue {
  @Prop()
  error!: any

  constructor() {
    super()
  }
}
</script>



