



<template>
  <v-row
    class="ma-0 pa-0"
    justify="start"
    :style="{
      zIndex: '1000',
    }"
  >
    <v-alert
      v-if="alert"
      :type="alert.type"
      width="100%"
      class="ma-0"
      :dismissible="dismissible ? false : true"
    >
      {{ alert.message }}
    </v-alert>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { AlertBase, AlertType, IAlert } from './interface'

@Component({})
export default class BaseAlert extends Vue implements AlertBase {
  get alert(): IAlert | null {
    return this.$store.getters['view/alert/alert']
  }
  get dismissible(): boolean {
    return this.$store.getters['view/dialogopen']
  }

  constructor() {
    super()
  }
}
</script>


