<template>
  <v-container class="index d-flex justify-start align-start page">
    <!-- <v-file-input truncate-length="50" class="d-none"></v-file-input> -->
    <!-- if no login -->
    <!-- welcome -->
    <v-row class="ma-0 pa-0" v-if="!user">
      <div class="d-flex flex-column align-center justify-start mt-15">
        <arizio-logo />
        <welcome class="mt-15" />
      </div>
    </v-row>
    <!-- if login -->
    <!-- choise: library or new project -->
    <v-row class="ma-0 pa-0" v-if="user">
      <div
        class="d-flex flex-column align-center justify-start mt-15"
        v-if="isDefaultChoise"
      >
        <arizio-logo :logoHeight="300" :logoWidth="500" />
        <libraryOrNewProject />
      </div>
    </v-row>
  </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import arizioLogo from '~/components/arizio-logo.vue'
import welcome from '~/components/menu/welcome.vue'
import libraryOrNewProject from '~/components/menu/library-or-new-project.vue'
import library from '~/components/menu/library/library.vue'
import UserState from '~/store/data/user'

@Component({
  components: {
    arizioLogo,
    // centralMenu,
    welcome,
    library,
    libraryOrNewProject,
    // CreateProject,
  },
  layout: 'def',
})
export default class IndexPage extends Vue {
  constructor() {
    super()
  }

  async mounted() {
    await UserState.mount(this)
  }

  get isDefaultChoise() {
    return true
  }

  get user() {
    return this.$store.getters['data/user/all'][0]
  }
}
</script>

<style scoped>
.load-text {
  text-align: center;
  margin-top: 24px;
}
.main {
  margin-top: auto;
  margin-bottom: auto;
}
</style>


<style>
.login-dialog {
  min-height: 750px;
}
.signup-dialog {
  min-height: 800px;
}
.central-dialog {
  min-height: 490px;
}

.type-dialog {
  min-height: 370px;
}

.gallery-dialog {
  min-height: 500px;
}
.page {
  min-height: 900px;
}
</style>
