<template>
  <v-container class="d-flex justify-start align-start flex-column" v-if="user">
    <v-row class="ma-0 pa-0 logo-row col-12" justify="center">
      <v-row class="pa-0 ma-0">
        <arizio-logo />
      </v-row>

      <v-row class="pa-0 ma-0 mt-15 col-12">
        <library class="" />
      </v-row>
    </v-row>
  </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import arizioLogo from '~/components/arizio-logo.vue'
import library from '~/components/menu/library/library.vue'
import { MountData } from '~/plugins/DataMounter'
@Component({
  layout: 'def',
  middleware: ['auth'],
  components: {
    arizioLogo,
    library,
  },
})
export default class libraryPage extends Vue {
  constructor() {
    super()
  }

  async mounted() {
    await MountData(this)
  }
  get user() {
    return this.$store.getters['data/user/all']
  }
}
</script>


