<template>
  <v-container class="index d-flex justify-center align-center page">
    <v-row class="ma-0 pa-0" v-if="!user">
      <div class="d-flex flex-column align-center justify-start mt-15">
        <arizio-logo />
      </div>
    </v-row>
    <v-row class="ma-0 pa-0 mt-15 flex-column">
      <arizio-logo />
      <central-menu />
    </v-row>
  </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'

import arizioLogo from '~/components/arizio-logo.vue'
import centralMenu from '~/components/menu/central-menu/central-menu.vue'

@Component({
  components: {
    arizioLogo,
    centralMenu,
  },
  layout: 'def',
  middleware: ['auth'],
})
export default class NewProjectPage extends Vue {
  get user() {
    return this.$store.getters['data/user/all']
  }
}
</script>


