<template>
  <v-container class="ma-0 pa-0"> </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'

@Component({
  components: {},
  layout: 'default',
})
export default class editorPage extends Vue {}
</script>


