<template>
  <div class="d-flex flex-column pano360">
    <!-- header -->
    <v-row class="pa-0 ma-0 my-5" justify="space-between">
      <span>
        <v-img
          height="100"
          width="150"
          :src="logo ? logo : require('@/assets/logo.png')"
          contain
        ></v-img>
      </span>
      <span class="text-h4 my-5">
        {{ images.length && !loading ? project.name : 'Loading...' }}
      </span>
    </v-row>
    <!-- editor -->
    <div
      class="pa-0 mb-10"
      :style="{
        maxHeight: '600px',
      }"
    >
      <v-card v-if="!images.length && !loading" height="600">
        <v-row
          class="ma-0 pa-0"
          :style="{
            height: '100%',
          }"
          align="center"
          justify="center"
        >
          <span class="text-h2"> Загрузите первое изображение </span>
        </v-row>
      </v-card>
      <!-- panorama -->
      <v-card
        class="pa-0 ma-0"
        v-if="images.length"
        :style="{
          height: '600px',
        }"
      >
        <v-skeleton-loader
          min-height="600px"
          color="grey lighten-4"
          type="image"
          width="100%"
          class="col-12 pa-0 ma-0"
          v-if="!panoramaLoad"
        ></v-skeleton-loader>
        <panorama
          class="col-12"
          :buffersForDraw="images.map((img) => img.path)"
          :inxForDraw="bufInx"
          @loaded="panoramaLoad = true"
          :style="{
            opacity: panoramaLoad ? 1 : 0,
          }"
        />
      </v-card>
      <v-row class="pa-0 ma-0 my-5 my-11 editor_pagination" justify="center">
        <v-pagination
          :length="images.length"
          :total-visible="5"
          color="#05ca68"
          circle
          v-model="pag"
        ></v-pagination>
      </v-row>

      <!-- menu -->
    </div>

    <!-- editor menu -->
    <editor-menu
      :shared="shared"
      :isPano="true"
      class="my-15"
      @spotCreate="remount()"
      @spotDelete="remount()"
    />

    <!-- bottom navigation -->
    <bottom-navigation
      class="mt-15"
      @onupload="remount()"
      @selectImg="(val) => (bufInx = val)"
      @deleteImage="(val) => deleteImage(val)"
      :shared="shared"
    />
  </div>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'

import Panorama from '~/components/images/panorama.vue'
import BottomNavigation from '~/components/navigation/bottomNavigation.vue'
import editorMenu from '~/components/menu/editor-menu/editor-menu.vue'

import {
  ForceMountData,
  getFile,
  getLogo,
  MountData,
} from '~/plugins/DataMounter'
import { trimFileName } from '~/plugins/trimFileName'
import { deleteMedia, MediaType } from '~/store/data/media'
import editor from '~/store/view/editor/pano'
@Component({
  components: {
    Panorama,
    BottomNavigation,
    editorMenu,
  },
  layout: 'editor',
})
export default class editorPage extends Vue {
  project: any = ''
  media: any[] = []
  files: any = []

  async remount() {
    if (this.shared) {
      await ForceMountData(this, {
        projectId: parseInt(this.projectId),
      })
    }

    if (!this.shared) {
      await ForceMountData(this)
    }
    this.logo = await getLogo(this, parseInt(this.projectId))

    this.project = this.$store.getters['data/project/all'].find(
      (p) => p.id === parseInt(this.projectId)
    )
    this.media = this.$store.getters['data/media/all'].filter(
      (m) =>
        m.project.id === parseInt(this.projectId) &&
        m.type === MediaType.panorama
    )

    this.files = this.$store.getters['data/file/all'].filter(
      (file: any) =>
        this.media.some((m: any) => m.id === file.media.id) &&
        file.type !== 'trumb'
    )
    const allSpots = this.$store.getters['data/spot/all'].filter(
      (spot: { source: { id: number } }) => {
        return this.media.some((m: { id: number }) => m.id === spot.source.id)
      }
    )

    const images = await Promise.all(
      this.files.map(async (file: any) => ({
        id: file.media.id,
        status: {
          id: file.media.id,
          created: false,
        },
        name: file.name,
        shortName: trimFileName(file.name, file.extension),
        path: await getFile(this, file.media.id, file.id),
        spots: allSpots.filter(
          (spot: { source: { id: number } }) => spot.source.id === file.media.id
        ),
        type: file.type,
      }))
    )
    editor.setImages(
      this,
      images.map((image: any) => ({
        ...image,
      }))
    )

    editor.correctInx(this)
  }

  @Watch('bufInx')
  onBufInxChanged(val: number, oldVal: number) {
    const currentMedidId =
      this.$store.getters['view/editor/pano/currentModelId']
  }

  async mounted() {
    await this.remount()
  }

  async deleteImage(index: number) {
    await deleteMedia(this, this.media[index].id)
    await this.remount()
  }
  logo = ''

  get imagesWithoutSpots() {
    return (
      this.$store.getters['view/editor/pano/current']?.imagesWithoutSpots || []
    )
  }

  get images() {
    return this.$store.getters['view/editor/pano/images']
  }

  get names() {
    return this.$store.getters['view/editor/pano/names']
  }
  get loading() {
    return this.$store.getters['App/loading']
  }

  get spots() {
    return this.$store.getters['view/editor/pano/current']?.spots || []
  }

  @Prop()
  shared!: boolean

  @Prop()
  projectId!: string

  pagination: number = 1

  get pag() {
    return this.bufInx + 1 || 1
  }
  set pag(val) {
    this.pagination = val
    this.bufInx = val - 1
  }
  get bufInx() {
    return this.$store.getters['view/editor/pano/inx']
  }
  set bufInx(val: number) {
    this.panoramaLoad = false
    editor.setInx(this, val)
  }

  panoramaLoad: boolean = false
}
</script>

<style>
.nav-btn-add-img .v-icon {
  font-size: 50px;
  color: white;
}
.nav-btn-add-img .v-icon:hover {
  color: #ccc;
}

canvas {
  width: 100%;
  height: 100%;
}
</style>


<style >
.pano360 .v-skeleton-loader__image {
  min-height: 600px !important;
}
</style>




