<template>
  <div class="d-flex flex-column model3d">
    <!-- header -->
    <v-row class="pa-0 ma-0 my-5" justify="space-between">
      <span>
        <v-img
          height="100"
          width="150"
          :src="logo ? logo : require('@/assets/logo.png')"
          contain
        ></v-img>
      </span>
      <span class="text-h2 my-5">
        {{ !loading ? project.name : 'Loading...' }}
      </span>
    </v-row>
    <!-- editor -->
    <div class="pa-0 mb-10">
      <v-card v-if="!loading && !currentMedia" height="600">
        <v-row
          class="ma-0 pa-0"
          :style="{
            height: '100%',
          }"
          align="center"
          justify="center"
        >
          <span class="text-h2"> Загрузите первое изображение </span>
        </v-row>
      </v-card>
      <v-card v-if="!loading && currentMedia" height="600">
        <v-row
          class="ma-0 pa-0"
          :style="{
            height: '100%',
          }"
          align="center"
          justify="center"
        >
          <model-3-d :path="currentMedia" class="col-12" />
        </v-row>
      </v-card>
      <v-row class="pa-0 ma-0 my-5 my-11 editor_pagination" justify="center">
        <v-pagination
          :length="images.length"
          :total-visible="5"
          color="#05ca68"
          circle
          v-model="pag"
        ></v-pagination>
      </v-row>
    </div>

    <!-- editor menu -->
    <editor-menu class="mt-15" />

    <!-- bottom navigation -->
    <bottom-navigation
      @onupload="remount()"
      @selectImg="(val) => (bufInx = val)"
      @deleteImage="(val) => deleteImage(val)"
      :shared="shared"
    />
  </div>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'

import Panorama from '~/components/images/panorama.vue'
import BottomNavigation from '~/components/navigation/bottomNavigation.vue'
import editorMenu from '~/components/menu/editor-menu/editor-menu.vue'
import Model3D from '~/components/images/model-3d.vue'
import { ForceMountData, getFile, getLogo } from '~/plugins/DataMounter'
import { MediaType, deleteMedia } from '~/store/data/media'
import editor from '~/store/view/editor/3d'
import file from '~/store/data/file'

@Component({
  components: {
    Panorama,
    BottomNavigation,
    editorMenu,
    Model3D,
  },
  layout: 'editor',
  middleware: 'auth',
})
export default class editorPage extends Vue {
  constructor() {
    super()
  }
  @Prop()
  project!: any

  media: any[] = []
  files: any = []
  logo = ''
  pagination: number = 1
  @Prop()
  shared!: boolean
  get pag() {
    return this.bufInx + 1 || 1
  }
  set pag(val) {
    this.pagination = val
    this.bufInx = val - 1
  }
  get bufInx() {
    return this.$store.getters['view/editor/3d/inx']
  }
  set bufInx(val: number) {
    editor.setInx(this, val)
  }
  get images() {
    return this.$store.getters['view/editor/3d/images']
  }

  get currentMedia() {
    return this.$store.getters['view/editor/3d/current']?.path ?? ''
  }
  get loading() {
    return this.$store.getters['App/loading']
  }

  async remount() {
    const projectId = this.$route.params.id
    await ForceMountData(this)
    this.logo = await getLogo(this, parseInt(projectId))

    // this.project = this.$store.getters['data/project/all'].find(
    //   (p) => p.id === parseInt(projectId)
    // )
    this.media = this.$store.getters['data/media/all'].filter(
      (m) =>
        m.project.id === parseInt(projectId) && m.type === MediaType.model3d
    )

    this.files = this.$store.getters['data/file/all'].filter((file: any) =>
      this.media.some(
        (m: any) => m.id === file.media.id && file.type === 'model3d'
      )
    )
    const paths = await Promise.all(
      this.files.map(async (file: any) => {
        return getFile(this, file.media.id, file.id)
      })
    )
    const images = this.files.map((file, inx) => ({
      path: paths[inx],
      name: file.name,
      id: file.id,
    }))

    editor.setImages(this, images)
    editor.setNames(
      this,
      this.files.map(
        (file: any) => file.name.slice(0, 5) + '...' + file.extension
      )
    )
  }
  async mounted() {
    await this.remount()
  }
  async deleteImage(index: number) {
    try {
      await deleteMedia(this, this.media[index].id)
      await this.remount()
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style>
.nav-btn-add-img .v-icon {
  font-size: 50px;
  color: white;
}
.nav-btn-add-img .v-icon:hover {
  color: #ccc;
}

canvas {
  width: 100%;
  height: 100%;
}
.model3d .v-skeleton-loader__image {
  min-height: 600px !important;
}
</style>


