<template>
  <v-row class="ma-0 pa-0 gallery">
    <!-- header -->
    <v-row class="pa-0 ma-0 my-5 col-12" justify="space-between">
      <span>
        <v-img
          height="100"
          width="150"
          :src="logo ? logo : require('@/assets/logo.png')"
          contain
        ></v-img>
      </span>
      <span class="text-h3 my-5">
        {{ !loading ? project.name : 'Loading...' }}
      </span>
    </v-row>
    <!-- audio -->
    <v-row
      class="col-12 ma-0 pa-0 my-4"
      :style="{
        marginBottom: shared ? '0  !important' : '20px',
        marginTop: shared ? '0 !important' : '20px',
      }"
      justify="center"
      v-if="
        currentMedia.type === 'image' ||
        currentMedia.type === 'panorama' ||
        currentMedia.type === 'pseudo3d'
      "
    >
      <audio-player-select
        @audioAdded="addMedia('audio')"
        @audioDeleted="deleteFile"
        :audiosProp="audioFiles"
        :shared="shared"
      />
    </v-row>
    <!-- editor -->
    <div class="pa-0 col-12">
      <v-card
        v-if="!loading && (!currentMedia || currentMedia.type === 'none')"
        height="600"
      >
        <v-row
          class="ma-0 pa-0"
          :style="{
            height: '100%',
          }"
          align="center"
          justify="center"
        >
          <span class="text-h2 text-center"> Загрузите первый медиа файл </span>
        </v-row>
      </v-card>
      <v-card v-if="currentMedia && currentMedia.type !== 'none'" height="600">
        <v-row
          class="ma-0 pa-0 in-card"
          :style="{
            height: '100%',
          }"
          align="center"
          justify="center"
        >
          <!-- image -->
          <!-- <model-3-d :path="currentMedia" class="col-12" /> -->
          <v-row class="ma-0 pa-0 col-12" v-if="currentMedia.type === 'image'">
            <!-- image -->
            <v-img
              :src="currentFile"
              @load="imageLoaded = true"
              max-height="600"
              max-width="100%"
              min-height="600"
              contain
              :style="{
                maxWidth: imageLoaded ? '100%' : '0%',
              }"
            >
            </v-img>
            <!-- skeleton -->
            <v-skeleton-loader
              class="skeleton"
              min-height="600px"
              color="grey lighten-4"
              type="image"
              width="100%"
              v-if="!imageLoaded"
            ></v-skeleton-loader>
          </v-row>
          <!-- panorama -->
          <v-row
            class="ma-0 pa-0 col-12"
            v-if="currentMedia.type === 'panorama'"
            :style="{
              height: '600px',
              width: '100%',
            }"
          >
            <!-- skeleton -->
            <v-skeleton-loader
              class="skeleton"
              min-height="600px"
              color="grey lighten-4"
              type="image"
              width="100%"
              v-if="!panoramaLoad"
            ></v-skeleton-loader>
            <!-- panorama -->
            <panorama-on-props
              :style="{
                opacity: panoramaLoad ? 1 : 0,
              }"
              @load="panoramaLoaded"
              :panorama="{
                image: currentFile,
              }"
            />
          </v-row>
          <!-- video player -->
          <v-row
            class="ma-0 pa-0 col-12"
            v-if="currentMedia.type === 'video'"
            :style="{
              height: '600px',
              maxHeight: '600px',
              width: '100%',
              overflow: 'hidden',
            }"
          >
            <d-video-player
              :videoData="{
                src: currentFile,
              }"
            />
          </v-row>
          <!-- audio player -->
          <v-row
            class="ma-0 pa-0 col-12"
            v-if="currentMedia.type === 'audio'"
            :style="{
              height: '600px',
              maxHeight: '600px',
              width: '100%',
              overflow: 'hidden',
            }"
          >
            <audio-player
              :audioData="{
                src: currentFile,
                name: currentFileName,
              }"
            />
          </v-row>
          <!-- pseudo3d -->
          <v-row
            class="ma-0 pa-0 col-12"
            v-if="currentMedia.type === 'pseudo3d'"
            :style="{
              height: '600px',
              maxHeight: '600px',
              width: '100%',
              overflow: 'hidden',
            }"
          >
            <pseudo-3-d-player :mediaId="currentMedia.id" />
          </v-row>
        </v-row>
        <v-row
          class="ma-0 pa-0"
          v-if="
            shared &&
            project.description &&
            backLink &&
            backLink.link.length > 8
          "
          align="center"
        >
          <v-img
            min-height="50"
            max-height="50"
            min-width="50"
            max-width="50"
            class="mt-1"
            :src="require('assets/retro-back.svg')"
            :style="{
              cursor: 'pointer',
            }"
            @click="applyBackLink"
          >
          </v-img>
          <span class="text-body-1 ml-5">
            Вернуться на сайт
            {{ backLink.name ? backLink.name : backLink.link }}
            <!-- <a :href="backLink.link" target="_blank" rel="noopener noreferrer">
             </a
            > -->
          </span>
        </v-row>
      </v-card>
      <v-row class="pa-0 ma-0 my-5 my-11 editor_pagination" justify="center">
        <v-pagination
          :length="imagesForBottomNavigations.length"
          :total-visible="9"
          color="#05ca68"
          circle
          v-model="pag"
        ></v-pagination>
      </v-row>
    </div>

    <!-- links -->
    <links v-if="!shared" />

    <v-spacer
      class="col-12"
      :style="{
        minHeight: '70px',
      }"
    >
    </v-spacer>

    <!-- bottom navigation -->
    <bottom-navigation-on-props
      :mediasForNavigation="imagesForBottomNavigations"
      :pageIsMounted="pageIsMounted"
      @reorder="reorderMedia"
      @add="addMedia"
      @delete="deleteMediaFile"
      @select="selectImage"
      @edit="editMedia"
      :shared="shared"
    />
  </v-row>
</template>

<script async lang="ts">
import EditorGalleryState, {
  setAddMediaType,
} from '@/store/view/editor/gallery'
import _, { lowerFirst } from 'lodash'
import 'video.js/dist/video-js.css'
import Vue from 'vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import AudioPlayerSelect, {
  AudioPlayerSelectProps,
} from '~/components/audio/audio-player-select.vue'
import AudioPlayer, {
  AudioPlayerProp,
} from '~/components/audio/audio-player.vue'
import PanoramaOnProps from '~/components/images/panoramaOnProps.vue'
import Pseudo3DPlayer from '~/components/images/pseudo-3d/pseudo-3d-player.vue'
import BottomNavigationOnProps, {
  BottomNavigationMediaProps,
} from '~/components/navigation/bottomNavigationOnProps.vue'
import DVideoPlayer from '~/components/video/d-video-player.vue'
import { ForceMountData, getFile, getLogo } from '~/plugins/DataMounter'
import { DialogMode, Media, MediaFile } from '~/plugins/interfaces'
import { trimFileName } from '~/plugins/trimFileName'
import file from '~/store/data/file'
import { deleteMedia, MediaType, reorderMedia } from '~/store/data/media'
import Links from '~/components/menu/editor-menu/links.vue'
import { PlaneGeometry } from '~/components/images/3d/three.module'

export interface ComponentProps {
  items: any[]
}

export interface ComponentEvents {
  'select-auto': (auto: any) => void
}

export interface IComponent {
  name: string
}

const defMedia: Media = {
  id: 0,
  type: 'none',
  name: '',
  createdAt: '',
  updatedAt: '',
  deletedAt: '',
  size: 0,
  order: 0,
  description: '',
  project: {
    id: 0,
    name: '',
    createdAt: '',
    updatedAt: '',
    deletedAt: '',
    description: '',
    type: '',
    public: false,
  },
  settings: {},
}

// navigation: medias + dialog (image, 360, video, audio,3d)
// player: image, 360, video, audio,3d
// pagination

@Component({
  layout: 'editor',
  components: {
    BottomNavigationOnProps,
    PanoramaOnProps,
    DVideoPlayer,
    AudioPlayer,
    AudioPlayerSelect,
    Pseudo3DPlayer,
    Links,
  },
})
export default class TemplateGallery extends Vue {
  // WATCHERS
  @Watch('needToRemount')
  async onNeedRemountChanged(value: boolean, needToLoad: boolean) {
    this.pageIsMounted = false
    await this.remount(needToLoad)
    this.$store.dispatch('view/editor/gallery/setRemountStatus', false)
  }

  @Watch('addMediaType')
  onAddMediaTypeChanged(value: string) {}

  @Watch('currentBuffer')
  async onCurrentBufferChanged(value: number) {
    await this.setCurrentMedia(value)
  }
  // PROPS

  @Prop({ required: true }) projectId!: string

  @Prop()
  shared!: boolean

  @Prop()
  pseudo3dMode!: boolean

  // DATA
  // ----------------------------------------------------------
  imageLoaded = false
  audioFilesToList: AudioPlayerProp[] = []
  panoramaLoad = false
  count = 0
  imagesForBottomNavigations: BottomNavigationMediaProps[] = []
  logo: string = ''
  currentBuffer: number = 0
  currentMedia: Media = defMedia
  currentFile: string = ''
  currentFileName: string = ''
  pagination: number = 1
  images: any = []
  notLoad: boolean = false
  pageIsMounted: boolean = false
  needViewSkelleton: boolean = true
  trumbnails: any = []
  // ----------------------------------------------------------
  // COMPUTED
  // ----------------------------------------------------------
  get medias(): Media[] {
    return this.$store.getters['view/editor/gallery/media']
  }
  get clearMedias(): Media[] {
    const media = this.medias
      .filter((media) => media.type !== 'logo')
      .filter((media) => media)
    return media
  }

  get files(): MediaFile[] {
    return this.$store.getters['view/editor/gallery/mediaFiles']
  }
  get audioFiles(): AudioPlayerSelectProps {
    return {
      audios: this.audioFilesToList,
    }
  }

  get addMediaType() {
    return this.$store.getters['view/editor/gallery/addMediaType']
  }

  get needToRemount() {
    return this.$store.getters['view/editor/gallery/needToRemount']
  }
  get needToRemountWithoutLoad() {
    return this.$store.getters['view/editor/gallery/needToRemountWithoutLoad']
  }

  get loading() {
    return this.$store.getters['App/loading']
  }

  get project() {
    const project = this.$store.getters['view/editor/gallery/project'] ?? [
      {
        name: 'loading',
      },
    ]
    return project[0]
  }

  get backLink(): {
    name: string
    link: string
  } {
    const description = this.project.description
    if (!description) return { name: '', link: '' }

    const links = description.split('/')

    return {
      name: links[0],
      link: links[1].match('http') ? links[1] : `https://${links[1]}`,
    }
  }

  get pag() {
    return this.pagination
  }
  set pag(val) {
    this.pagination = val
    this.bufInx = val - 1
  }

  get bufInx() {
    return this.currentBuffer
  }
  set bufInx(val) {
    this.currentBuffer = val
  }
  // ----------------------------------------------------------
  // METHODS

  applyBackLink() {
    location.href = this.backLink.link
  }

  async remount(needToLoad: boolean = true) {
    this.currentFile = ''
    this.imageLoaded = false
    this.imagesForBottomNavigations = []

    this.$store.dispatch('App/loading', true)

    switch (this.shared) {
      case true: {
        await ForceMountData(this, {
          projectId: parseInt(this.projectId),
        })
        break
      }
      case false:
      default: {
        await ForceMountData(this)
      }
    }

    EditorGalleryState.mount(this, parseInt(this.projectId))

    this.$store.dispatch('App/loading', false)

    this.logo = (await getLogo(this, parseInt(this.projectId))) ?? ''

    for (const media of this.clearMedias) {
      const files =
        this.files
          .filter((file) => file.media.id === media.id)
          .sort((a, b) => a.id - b.id) ?? null

      const file = files[0]

      this.trumbnails = files.filter((file) => file.type === 'trumb')

      const trumb = this.trumbnails.filter((trumb) =>
        trumb.name.match(/small/)
      )[0]

      const toNav = trumb ?? file

      const src = toNav ? await getFile(this, media.id, toNav.id) : ''
      this.imagesForBottomNavigations.push({
        id: media.id,
        name: file ? trimFileName(file.name, file.extension) : '', // берем имя из главного файла
        src: src,
        type: toNav.type,
        order: media.order,
      })
    }

    if (!this.clearMedias.length) this.currentMedia = defMedia

    this.bufInx = this.bufInx ? this.bufInx : 0
    this.bufInx
      ? await this.setCurrentMedia(this.bufInx, needToLoad)
      : await this.setCurrentMedia(0, needToLoad)
  }

  async setAudioPlayerList() {
    return Promise.all(
      this.files
        .filter(
          (file) =>
            file.type === 'audio' && file.media.id === this.currentMedia.id
        )
        .map(async (file) => {
          return {
            id: file.id,
            name: trimFileName(file.name, file.extension, 30),
            src: await getFile(this, this.currentMedia.id, file.id),
            image: '',
          }
        })
    )
  }
  async mounted() {
    this.pageIsMounted = false
    await this.remount()
    this.pageIsMounted = true
  }

  async addMedia(type?: MediaType) {
    if (type === MediaType.audio) {
      setAddMediaType(this, {
        type: 'audio',
        exclusiveType: true,
        mediaId: this.currentMedia.id,
      })

      this.$store.dispatch('view/dialog/open', DialogMode.addMediaToGallery)
      return
    }

    if (this.pseudo3dMode) {
      setAddMediaType(this, {
        type: 'pseudo3d',
        exclusiveType: true,
      })
    }
    if (!this.pseudo3dMode) {
      setAddMediaType(this, {
        type: 'image',
      })
    }
    this.$store.dispatch('view/dialog/open', DialogMode.addMediaToGallery)
  }

  async deleteFile(id: number) {
    await file.deleteFile(this, id)
    await this.remount()
  }
  async deleteMediaFile(id: number) {
    await deleteMedia(this, id)
    await this.remount()
  }

  async editMedia(id: number) {
    EditorGalleryState.setEditMediaId(this, id)
    this.$store.dispatch('view/dialog/open', DialogMode.editPsuedo3d)
  }

  async selectImage(id: number) {
    const media = this.medias.find((media) => media.id === id)

    if (!media) return

    const mediaInx = this.clearMedias.findIndex((media) => media.id === id)

    this.pag = mediaInx + 1
  }

  async setCurrentMedia(value: number, needToLoad: boolean = true) {
    this.currentMedia = this.clearMedias[value]
      ? this.clearMedias[value]
      : this.currentMedia
    if (!this.currentMedia) return

    if (needToLoad) {
      this.panoramaLoad = false
      this.imageLoaded = false
    }

    this.audioFilesToList = await this.setAudioPlayerList()

    const file = this.files.find(
      (file) => file.media.id === this.currentMedia.id
    )

    this.currentFile = file
      ? await getFile(this, this.currentMedia.id, file.id)
      : ''

    this.currentFileName =
      file && file.name ? trimFileName(file.name, file.extension, 50) : ''
  }

  panoramaLoaded() {
    setTimeout(() => {
      this.panoramaLoad = true
      this.count = 0
    }, 1000)
  }

  async reorderMedia(filesFromBottomNavigation: BottomNavigationMediaProps[]) {
    if (!filesFromBottomNavigation.length) return

    const medias = this.clearMedias.filter((media) =>
      filesFromBottomNavigation.find((navObj) => navObj.id === media.id)
    )

    const promises: any[] = []
    if (filesFromBottomNavigation.length !== medias.length) return
    for (const media of medias) {
      const navObj = filesFromBottomNavigation.find(
        (navObj) => navObj.id === media.id
      )

      if (!navObj) continue

      const promise = reorderMedia(this, _.pick(navObj, ['id', 'order']))
      promises.push(promise)
    }

    // перестрамваем бек
    await Promise.all(promises)
    // перестроим фронт
    EditorGalleryState.sortMedia(this)

    // перестроим пагинацию
    const inxOfCurrentMedia = this.clearMedias.findIndex(
      (media) => media.id === this.currentMedia.id
    )

    if (inxOfCurrentMedia < 0) return

    this.needViewSkelleton = false

    this.pag = inxOfCurrentMedia + 1
  }
}
</script>

<style >
.gallery .v-skeleton-loader__image {
  min-height: 600px !important;
}
</style>


