



<template>
  <v-row> </v-row>
</template>

<script async lang="ts">
//  <v-dialog
//     max-width="500"
//     v-model="isShow"
//     hide-overlay
//     content-class="rounded-xl type-dialog"
//   >
//     <v-card width="500" rounded="xl" class="type-dialog">
//       <v-container>
//         <v-row class="my-2 mx-2" justify="end">
//           <round-cross-button @close="close" />
//         </v-row>

//         <v-spacer class="my-8"></v-spacer>
//         <v-row justify="center">
//           <v-card-title class="font-weight-bold"> {{ title }} </v-card-title>
//         </v-row>

//         <v-spacer class="my-8"></v-spacer>
//         <v-row justify="center">
//           <v-btn
//             :color="mainColor"
//             class="white--text"
//             width="250"
//             @click="close(firstBtnName)"
//           >
//             {{ firstBtnName }}
//           </v-btn>
//         </v-row>

//         <v-spacer class="my-8"></v-spacer>
//         <v-row justify="center"> или </v-row>

//         <v-spacer class="my-8"></v-spacer>
//         <v-row justify="center">
//           <v-btn
//             :color="mainColor"
//             class="white--text"
//             width="250"
//             @click="close(secondBtnName)"
//           >
//             {{ secondBtnName }}
//           </v-btn>
//         </v-row>
//       </v-container>
//     </v-card>
//   </v-dialog>

import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit, Prop } from 'vue-property-decorator'
// import roundCrossButton from '../roundCrossButton.vue'

@Component({
  components: {
    // roundCrossButton,
  },
})
export default class TypeDialog extends Vue {
  // @Prop()
  // firstBtnName!: string
  // @Prop()
  // secondBtnName!: string
  // @Prop()
  // needShow!: boolean
  // @Prop()
  // title!: string
  // @Emit('closeChoise')
  // closeChoise(btn: string) {
  //   return btn
  // }
  // get isShow() {
  //   return this.needShow
  // }
  // set isShow(data: any) {
  //   // this.needShow = false
  // }
  // get mainColor() {
  //   return this.$store.getters['dom/mainColor']
  // }
  // close(btn: string) {
  //   return this.closeChoise(btn)
  // }
}
</script>

