<template>
  <v-row class="ma-0 pa-0">
    <!-- dialog -->
    <v-dialog
      v-if="mode"
      v-model="dialog"
      :max-width="dialogWidth"
      :content-class="contentClass"
      hide-overlay
    >
      <!-- contant -->
      <template v-slot:default>
        <v-row class="pa-0 ma-0" v-if="mode === 'signIn'">
          <sign-in />
        </v-row>
        <v-row class="pa-0 ma-0" v-if="mode === 'signUp'">
          <sign-up />
        </v-row>
        <v-row class="pa-0 ma-0" v-if="mode === 'forgotPassword'">
          <new-password />
        </v-row>
        <v-row class="pa-0 ma-0" v-if="mode === 'createProject'">
          <new-project-dialog />
        </v-row>
        <v-row class="pa-0 ma-0" v-if="mode === 'addMediaToGallery'">
          <add-media-to-gallary />
        </v-row>
        <v-row class="pa-0 ma-0" v-if="mode === 'editPsuedo3d'">
          <edit-pseudo3d-dialog />
        </v-row>
      </template>
    </v-dialog>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import signIn from '~/components/dialogs/specific/sign-in.vue'
import signUp from '~/components/dialogs/specific/sign-up.vue'
import NewPassword from '~/components/dialogs/specific/new-password.vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import Vk from '../icons/vk.vue'
import { DialogMode } from '~/plugins/interfaces'
import NewProjectDialog from './specific/newProjectDialog.vue'
import AddMediaToGallary from './specific/addMediaToGalary.vue'
import EditPseudo3dDialog from './specific/editPseudo3dDialog.vue'
import stateGallery from '~/store/view/editor/gallery'

@Component({
  components: {
    signIn,
    signUp,
    NewPassword,
    NewProjectDialog,
    Vk,
    AddMediaToGallary,
    EditPseudo3dDialog,
  },
})
export default class BaseDialog extends Vue {
  get contentClass() {
    switch (this.mode) {
      case DialogMode.editPsuedo3d:
        return EditPseudo3dDialog.contentClass
      default:
        return 'rounded-xl'
    }
  }
  get dialog() {
    return this.$store.getters['view/dialog/open']
  }
  set dialog(value) {
    switch (this.mode) {
      case DialogMode.editPsuedo3d:
        stateGallery.setNeedToRemountPseudo3d(this, true)
        break
    }
    this.$store.dispatch('view/dialog/close')
  }

  get mode() {
    return this.$store.getters['view/dialog/mode']
  }

  get dialogWidth() {
    switch (this.mode) {
      case DialogMode.signIn:
        return signIn.width
      case DialogMode.signUp:
        return signUp.width
      case DialogMode.forgotPassword:
        return NewPassword.width
      case DialogMode.createProject:
        return NewProjectDialog.width
      case DialogMode.addMediaToGallery:
        return AddMediaToGallary.width
      case DialogMode.editPsuedo3d:
        return EditPseudo3dDialog.width
      default:
        return 'auto'
    }
  }

  get maxWidth() {
    return this.$store.getters['view/dialog/maxWidth'] ?? '500px'
  }
}
</script>


