<template>
  <v-row
    class="ma-0 pa-0 col-12 video-player"
    :style="{
      maxHeight: '600px',
    }"
  >
    <div
      id="video-player"
      class="col-12 pa-0"
      :style="{
        maxHeight: '600px',
      }"
    ></div>
  </v-row>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit, Watch } from 'vue-property-decorator'
import DPlayer from 'dplayer'

export interface VideoPlayerProp {
  src: string
  screenshot: string
}
let player
@Component({})
export default class DVideoPlayer extends Vue {
  @Prop()
  videoData!: VideoPlayerProp

  mountPlayer() {
    const container = document.getElementById('video-player')
    if (this.videoData && this.videoData.src) {
      if (player) player.destroy()
      player = new DPlayer({
        container,
        screenshot: true,
        video: {
          url: this.videoData.src,
        },
        autoplay: false,
      })
      player.on('pause', () => {
        player.pause()
      })

      const video = container?.getElementsByTagName('video')[0]
      video?.setAttribute('crossorigin', 'use-credentials')
      video?.setAttribute('autoplay', 'true')
      video?.addEventListener('loadeddata', async () => {
        setTimeout(() => {
          video.muted = true
          video.play()
        }, 100)
      })
    }
  }
  async mounted() {
    this.mountPlayer()
  }

  @Watch('videoData')
  onVideoDataChange() {
    this.mountPlayer()
  }
}
</script>


