<template>
  <v-container class="pa-0" :style="{}" v-if="user">
    <v-row
      class="ma-0 pa-0 mt-10 flex-column flex-md-row"
      justify="space-around"
    >
      <v-col cols="6" class="pa-6 text-center" :style="{}">
        <v-btn
          class="text-h4 text-center rounded-lg white--text"
          large
          color="#05ca68"
          height="100"
          width="320"
          @click="tolibrary"
          :loading="loading"
        >
          Библиотека
        </v-btn>
      </v-col>
      <v-col cols="6" class="pa-6 text-center g">
        <v-btn
          class="text-h4 white--text"
          rounded-l
          large
          color="#05ca68"
          height="100"
          width="320"
          @click="toNewProject"
          :loading="loading"
        >
          Новый проект
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'

@Component({})
export default class libraryOrNewProject extends Vue {
  get loading() {
    return this.$store.getters['App/loading']
  }

  async tolibrary() {
    this.$router.push({ name: 'library' })
  }

  get user() {
    return this.$store.getters['data/user/all'][0]
  }

  toNewProject() {
    this.$router.push({ name: 'newProject' })
  }
}
</script>


