<template>
  <v-container class="ma-0 pa-0">
    <!-- header -->
    <v-row class="ma-0 pa-0" justify="center"
      ><span class="text-h4 text-center mb-5"> Приветствуем! </span></v-row
    >

    <!-- buttons -->
    <v-row class="ma-0 pa-0 flex-column" justify="center" align="center">
      <!-- signin -->
      <v-btn
        color="#05ca68"
        class="my-5 white--text"
        x-large
        width="250"
        @click="loginOpen"
        :loading="loading ? true : false"
      >
        Вход
      </v-btn>
      <!-- signup -->
      <v-btn
        color="secondary mt-5 "
        @click="signUpOpen"
        x-large
        width="250"
        :loading="loading ? true : false"
      >
        Регистрация
      </v-btn>
    </v-row>
  </v-container>
</template>

<script async lang="ts">
import Vue from 'vue'
import { Component, Prop, Emit } from 'vue-property-decorator'
import { DialogMode } from '~/plugins/interfaces'

@Component({
  components: {},
})
export default class Welcome extends Vue {
  get loading() {
    return this.$store.getters['App/loading']
  }

  loginOpen() {
    this.$store.dispatch('view/dialog/open', DialogMode.signIn)
  }
  signUpOpen() {
    this.$store.dispatch('view/dialog/open', DialogMode.signUp)
  }
}
</script>


